<div class="wrapper">

  <app-header></app-header>

  <app-sidebar></app-sidebar>

  <div class="content-wrapper">

    <section class="content">

      <app-breadcrumbs></app-breadcrumbs>
      <div class="box">
        <router-outlet></router-outlet>

      </div>

    </section>
  </div>

 <app-footer></app-footer>

</div>
