<ol class="breadcrumb animated fadeIn">
  <li>
    <a href="">
      <i class="fa fa- fa-leaf"></i> Vivero San Nicolas</a>
  </li>
  <li>Administración</li>
  <li>Cuentas de Proveedores</li>
</ol>
<div class="row animated fadeIn">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Cuentad de Proveedores</h3>
        <div class="row">
          <div class="col-md-6">
            <div id="example1_filter" class="dataTables_filter">
              <label>Buscar:
                <input class="form-control input-sm" placeholder="" aria-controls="example1" type="search">
              </label>
            </div>
          </div>
        </div>

      </div>
      <!-- /.box-header -->

      <div class="box-body table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Proveedor</th>
              <th>Debe</th>
              <th>Haber</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cuentaProveedor of cuentasProveedores">
              <td>{{cuentaProveedor.proveedor.persona.cuit}} - {{cuentaProveedor.proveedor.persona.nombre}} {{cuentaProveedor.proveedor.persona.apellido}}</td>
              <td>{{cuentaProveedor.debe | currency}}</td>
              <td>{{cuentaProveedor.haber | currency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
