<!-- Modal -->
<form #formVariedad="ngForm" (ngSubmit)="save()" (keydown)="onKeydown($event)">

  <div class="modal fade" id="variedadModal" tabindex="-1" role="dialog" aria-labelledby="variedadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">×</span>
          </button>
          <h2 class="modal-title text-primary text-center"> {{ titulo }}
            <i class="fa fa-plus"></i>
          </h2>
        </div>
        <div class="modal-body">

          <div class="row form-group">
            <div class="col-md-6">
              <label>Especie</label>
              <br/>
              <mat-form-field>
                <input class="form-control" type="text"  aria-label="Number" matInput [formControl]="myControl"
                  [matAutocomplete]="auto" [(ngModel)]="variedad.especie" required>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplayFn()">
                  <mat-option *ngFor="let especie of filteredEspecies | async" [value]="especie" (onSelect)="selected(especie)">
                    {{ especie.descripcion }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

       
            </div>


            <div class="col-md-6">
              <label>Descripción
              </label>
              <input class="form-control" #descripcion="ngModel" name="descripcion" [(ngModel)]="variedad.descripcion" placeholder="Ingrese la Variedad"
                type="text" required>
              <span class="help-block text-red" *ngIf="!descripcion.valid && descripcion.touched">La descripcion es obligatoria
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-6">
              <label>Tipo de Mercado</label>
              <input class="form-control" #mercado="ngModel" name="mercado" [(ngModel)]="variedad.mercado" placeholder="Ingrese el Tipo de Mercado"
                type="text">
            </div>

            <div class="col-md-6">
              <label>Clasificación</label>
              <input class="form-control" #clasificacion="ngModel" name="clasificacion" [(ngModel)]="variedad.clasificacion" placeholder="Ingrese la Clasificación"
                type="text">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label>Proveedor</label>
              <select [(ngModel)]="variedad.proveedor" class="form-control" #proveedor="ngModel" name="proveedor" required [compareWith]="compareProveedor">
                <option *ngFor="let proveedor of proveedores" [ngValue]="proveedor">{{proveedor.persona.cuit}} - {{proveedor.persona.nombre}} {{proveedor.persona.apellido}}</option>
              </select>
              <span class="help-block text-red" *ngIf="!proveedor.valid && proveedor.touched">El Proveedor es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <div class="col-md-3">
            <button type="button" class=" btn btn-warning btn-lg pull-left" data-dismiss="modal" (click)="close()">
              <i class="fa fa-reply"></i> Regresar</button>
          </div>
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!formVariedad.form.valid || isSaving">
              <i class="fa fa-refresh "></i> Guardar</button>

          </div>
        </div>
      </div>
    </div>
  </div>

</form>
