<ol class="breadcrumb animated fadeIn">
  <li>
    <a href="">
      <i class="fa fa- fa-leaf"></i> Vivero San Nicolas</a>
  </li>
  <li>Perfil</li>

</ol>

<section class="content animated fadeIn">

  <div class="row">
    <div class="col-md-12">

      <!-- Profile Image -->
      <div class="box box-primary">

        <div class="box-body box-profile">
          <div class="col-md-6">
            <img src="dist/img/user.jpg">


            <!-- <input id="exampleInputFile" type="file" class="btn-btn-primary" value="Cambiar Imagen"> -->

          </div>
          <div class="col-md-6">
            <h3 class="profile-username text-center">Nombre de Usuario</h3>
            <p class="text-muted text-center">Recursos Humanos</p>

            <ul class="list-group list-group-unbordered">

              <li class="list-group-item">
                <b>Nombre Completo</b>
                <a class="pull-right">Mario Ruben</a>
              </li>
              <li class="list-group-item">
                <b>Correo Electronico</b>
                <a class="pull-right">mario@gmail.com</a>
              </li>
              <li class="list-group-item">
                <b>Rol</b>
                <a class="pull-right">Usuario</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <!-- About Me Box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Sobre Mi</h3>
        </div>
        <!-- /.box-header -->
        <div class="row box-body">
          <div class="col-md-6">
            <strong>
              <i class="fa fa-book margin-r-5"></i> Educacion</strong>
            <p class="text-muted">
              Secundario Completo
            </p>
          </div>


          <div class="col-md-6">
            <strong>
              <i class="fa fa-map-marker margin-r-5"></i> Direccion</strong>
            <p class="text-muted">25 de mayo 225, San Martin, Mendoza</p>

          </div>
          <br>
          <hr>
          <div class="col-md-6">
            <strong>
              <i class="fa fa-pencil margin-r-5"></i> Habilidades</strong>
            <p>
              <span class="label label-danger">UI Design</span>
            </p>
          </div>

          <div class="col-md-6">
            <strong>
              <i class="fa fa-calendar margin-r-5"></i> Fecha De Nacimiento</strong>
            <p>
              <span class="text-muted">07/05/1984</span>

            </p>
          </div>




        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->

    <!-- /.col -->
  </div>
  <!-- /.row -->

</section>
