<ol class="breadcrumb animated fadeIn">
  <li>
    <a href="">
      <i class="fa fa- fa-leaf"></i> Vivero San Nicolas</a>
  </li>
  <li>Personas</li>
  <li>Proveedores</li>
</ol>

<div class="row animated fadeIn">


  <div class="col-md-12">
    <div class="box">

      <div class="box-header with-border">
        <h3 class="box-title">Proveedores</h3>
        <div class="row">

          <div class="col-md-6">
            <div id="example1_filter" class="dataTables_filter">
              <label>Buscar:
<input class="form-control input-sm" [formControl]="myProveedor" #txtBuscar type="search">
              </label>
            </div>
          </div>
        </div>

        <div class="box-tools">
          <div class="input-group">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#proveedorModal" [routerLink]="['/personas/proveedor/agregar']">
                <i class="fa fa-plus"></i> Agregar Proveedor
              </button>
              <router-outlet></router-outlet>
          </div>
        </div>

      </div>
      <!-- /.box-header -->

      <div class="box-body table-responsive">

        <table class="table table-hover ">
          <thead>
            <tr>
              <th>Tipo Persona</th>
              <th>Cuit</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Telefono</th>
            </tr>
          </thead>
          <tbody>
<tr *ngFor="let proveedor of proveedores | filterProveedor : txtBuscar.value  | paginate: { itemsPerPage: 10, currentPage: p }">
              <td>{{proveedor.persona.tipoPersona.descripcion}}</td>
              <td>{{proveedor.persona.cuit}}</td>
              <td>{{proveedor.persona.nombre}}</td>
              <td>{{proveedor.persona.apellido}}</td>
              <td>{{proveedor.persona.telefono}}</td>
              <td style="width: 280px;">
                <a class="btn btn-info" href="">
                  <i class="fa fa-eye"></i> Mostrar</a>
                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#proveedorModal" [routerLink]="['/personas/proveedor/editar', proveedor.id]">
                    <i class="fa fa-pencil"></i> Editar
                  </button>
                <button type="button" class="btn btn-danger ">
                  <i class="fa fa-eraser"></i> Eliminar</button>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-sm-4">
    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"></div>
  </div>
  <div class="col-sm-8">

    <pagination-controls (pageChange)="p = $event" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Anterior"
      nextLabel="Siguiente" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>



  </div>
</div>
</div>