<!-- Modal -->
<form #formCalendario="ngForm" (ngSubmit)="save()" (keydown)="onKeydown($event)">

  <div class="modal fade" id="calendarioModal" tabindex="-1" role="dialog" aria-labelledby="calendarioModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">×</span>
          </button>
          <h2 class="modal-title text-primary text-center"> {{ titulo }}
            <i class="fa fa-plus"></i>
          </h2>
        </div>
        <div class="modal-body">

          <div class="row form-group">
            <div class="col-md-4">
              <label>Período
              </label>
              <input class="form-control" #periodo="ngModel" name="periodo" [(ngModel)]="calendario.periodo" placeholder="Ingrese el período" type="text" required>
              <span class="help-block text-red" *ngIf="!periodo.valid && periodo.touched">Debe ingresar el período
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>
            <div class="col-md-4">
              <label>Desde
              </label>
              <input class="form-control" #desde="ngModel" name="desde" [(ngModel)]="calendario.desde" type="date" required>
              <span class="help-block text-red" *ngIf="!desde.valid && desde.touched">Debe seleccionar una fecha de comienzo
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>
            <div class="col-md-4">
              <label>Hasta
              </label>
              <input class="form-control" #hasta="ngModel" name="hasta" [(ngModel)]="calendario.hasta" type="date">
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <div class="col-md-3">
            <button type="button" class=" btn btn-warning btn-lg pull-left" data-dismiss="modal" (click)="close()">
              <i class="fa fa-reply"></i> Regresar</button>
          </div>
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!formCalendario.form.valid || isSaving">
              <i class="fa fa-refresh "></i> Guardar</button>

          </div>
        </div>
      </div>
    </div>
  </div>

</form>
