<!-- Modal -->
<form #formTipoDomicilio="ngForm" (ngSubmit)="save()" (keydown)="onKeydown($event)">

  <div class="modal fade" id="tipoDomicilioModal" tabindex="-1" role="dialog" aria-labelledby="tipoDomicilioModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">×</span>
          </button>
          <h2 class="modal-title text-primary text-center"> {{ titulo }}
            <i class="fa fa-plus"></i>
          </h2>
        </div>
        <div class="modal-body">

          <div class="row form-group">
            <div class="col-md-12">
              <label>Descripción
              </label>
              <input class="form-control" #descripcion="ngModel" name="descripcion" [(ngModel)]="tipoDomicilio.descripcion" placeholder="Ingrese la TipoDomicilio" type="text" required>
              <span class="help-block text-red" *ngIf="!descripcion.valid && descripcion.touched">La descripcion es obligatoria
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <div class="col-md-3">
            <button type="button" class=" btn btn-warning btn-lg pull-left" data-dismiss="modal" (click)="close()">
              <i class="fa fa-reply"></i> Regresar</button>
          </div>
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!formTipoDomicilio.form.valid || isSaving">
              <i class="fa fa-refresh "></i> Guardar</button>

          </div>
        </div>
      </div>
    </div>
  </div>

</form>
