<ol class="breadcrumb animated fadeIn">
  <li>
    <a href="">
      <i class="fa fa- fa-leaf"></i> Vivero San Nicolas</a>
  </li>
  <li>Clasificadores</li>
  <li>Tipo Domicilio</li>
</ol>

<div class="row animated fadeIn">


  <div class="col-md-12">
    <div class="box">

      <div class="box-header with-border">
        <h3 class="box-title">Tipo Domicilio</h3>
        <div class="row">

          <div class="col-md-6">
            <div id="example1_filter" class="dataTables_filter">
              <label>Buscar:
                <input class="form-control input-sm" placeholder="" aria-controls="example1" type="search" [formControl]="myDomicilio" #txtBuscar>
              </label>
            </div>
          </div>
        </div>

        <div class="box-tools">
          <div class="input-group">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tipoDomicilioModal" [routerLink]="['/clasificadores/tipo-domicilio/agregar']">
              <i class="fa fa-plus"></i> Agregar Tipo de Domicilio
            </button>
            <router-outlet></router-outlet>
          </div>
        </div>

      </div>
      <!-- /.box-header -->

      <div class="box-body table-responsive">

        <table class="table table-hover ">
          <thead>
            <tr>
              <th>Descripción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tipoDomicilio of tipoDomicilios | filterDescripcion : txtBuscar.value">
              <td>{{tipoDomicilio.descripcion}}</td>

              <td style="width: 280px;">

                <a class="btn btn-info" href="">
                  <i class="fa fa-eye"></i> Mostrar</a>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#tipoDomicilioModal" [routerLink]="['/clasificadores/tipo-domicilio/editar', tipoDomicilio.id]">
                  <i class="fa fa-pencil"></i> Editar
                </button>
                <button type="button" class="btn btn-danger ">
                  <i class="fa fa-eraser"></i> Eliminar</button>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
</div>
