<!-- Modal -->
<form #formEmpresa="ngForm" (ngSubmit)="save()" (keydown)="onKeydown($event)">

  <div class="modal fade" id="empresaModal" tabindex="-1" role="dialog" aria-labelledby="empresaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">×</span>
          </button>
          <h2 class="modal-title text-primary text-center"> {{ titulo }}
            <i class="fa fa-plus"></i>
          </h2>
        </div>
        <div class="modal-body">

          <div class="row form-group">
            <div class="col-md-6">
              <label>CUIT
              </label>
              <input class="form-control" #cuit="ngModel" name="cuit" [(ngModel)]="empresa.cuit" type="text" required>
              <span class="help-block text-red" *ngIf="!cuit.valid && cuit.touched">El CUIT es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

            <div class="col-md-6">
              <label>Razón Social
              </label>
              <input class="form-control" #razonSocial="ngModel" name="razonSocial" [(ngModel)]="empresa.razonSocial" type="text" required>
              <span class="help-block text-red" *ngIf="!razonSocial.valid && razonSocial.touched">La Razón Social es obligatoria
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

          </div>

          <div class="row form-group">

            <div class="col-md-6">
              <label>Teléfono</label>
              <input class="form-control" #telefono="ngModel" name="telefono" [(ngModel)]="empresa.telefono" placeholder="Ingrese el Teléfono"
                type="tel">
            </div>

            <div class="col-md-6">
              <label>Mail</label>
              <input class="form-control" #mail="ngModel" name="mail" [(ngModel)]="empresa.mail" placeholder="Ingrese el Mail" type="email">
            </div>

          </div>


          <!-- domicilio -->
          <div class="row form-group">
            <h4>Domicilio</h4>
            <div class="col-md-2">
              <label>Tipo</label>
              <select [(ngModel)]="domicilio.tipoDomicilio" class="form-control" #tipoDomicilio="ngModel" name="tipoDomicilio" required
                [compareWith]="compareTipoDomicilio">
                <option *ngFor="let tipoDomicilio of tipoDomicilios" [ngValue]="tipoDomicilio">{{tipoDomicilio.descripcion}}</option>
              </select>
              <span class="help-block text-red" *ngIf="!tipoDomicilio.valid && tipoDomicilio.touched">El Tipo de Domicilio es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>
            <div class="col-md-4">
              <label>Calle
              </label>
              <input class="form-control" #calle="ngModel" name="calle" [(ngModel)]="domicilio.calle" type="text" required>
              <span class="help-block text-red" *ngIf="!calle.valid && calle.touched">La Calle es obligatoria
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>
            <div class="col-md-2">
              <label>Número
              </label>
              <input class="form-control" #numero="ngModel" name="numero" [(ngModel)]="domicilio.numero" type="text" required>
              <span class="help-block text-red" *ngIf="!numero.valid && numero.touched">La numeración es obligatoria
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

            <div class="col-md-2">
              <label>Piso
              </label>
              <input class="form-control" #piso="ngModel" name="piso" [(ngModel)]="domicilio.piso" type="text">
            </div>

            <div class="col-md-2">
              <label>Depto.
              </label>
              <input class="form-control" #departamento="ngModel" name="departamento" [(ngModel)]="domicilio.departamento" type="text">
            </div>

          </div>

          <div class="row form-group">

            <div class="col-md-6">
              <label>Referencia
              </label>
              <input class="form-control" #referencia="ngModel" name="referencia" [(ngModel)]="domicilio.referencia" type="text">
            </div>

            <div class="col-md-6">
              <label>Distrito</label>
              <br/>
              <mat-form-field>
                <input class="form-control" type="text" aria-label="Number" matInput [formControl]="myControl"
                  [matAutocomplete]="auto" [(ngModel)]="domicilio.distrito" required>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplayFn()">
                  <mat-option *ngFor="let distrito of filteredDistritos | async" [value]="distrito" (onSelect)="selected(distrito)">
                    {{ distrito.descripcion }} - {{ distrito.localidad.descripcion }} - {{ distrito.localidad.provincia.descripcion }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <!-- <span class="help-block text-red" *ngIf="!auto.valid && auto.touched">El Distrito es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span> -->
            </div>

          </div>
          <!--Fin domicilio-->

          <div class="row form-group">
            <h4>Contacto</h4>
            <div class="col-md-12">
              <label>Contacto</label>
              <input class="form-control" #contactoReferencia="ngModel" name="contactoReferencia" [(ngModel)]="empresa.contactoReferencia"
                type="tel">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-4">
              <label>Tipo</label>
              <select [(ngModel)]="contacto.tipoContacto" class="form-control" #tipoContacto="ngModel" name="tipoContacto" required
                [compareWith]="compareTipoContacto">
                <option *ngFor="let tipoContacto of tipoContactos" [ngValue]="tipoContacto">{{tipoContacto.descripcion}}</option>
              </select>
              <span class="help-block text-red" *ngIf="!tipoContacto.valid && tipoContacto.touched">El Tipo de Contacto es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>
            <div class="col-md-8">
              <label>Descripción</label>
              <input class="form-control" #desContacto="ngModel" name="desContacto" [(ngModel)]="contacto.descripcion" placeholder="Ingrese la descripcion de contacto"
                type="text" required>

              <span class="help-block text-red" *ngIf="!desContacto.valid && desContacto.touched">La descripción del contacto es Obligatoria
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

          </div>


        </div>

        <div class="modal-footer">
          <div class="col-md-3">
            <button type="button" class=" btn btn-warning btn-lg pull-left" data-dismiss="modal" aria-label="Close" (click)="close()">
              <i class="fa fa-reply"></i> Regresar</button>
          </div>
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!formEmpresa.form.valid || isSaving">
              <i class="fa fa-refresh "></i> Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
