<ol class="breadcrumb animated fadeIn">
  <li>
    <a href="">
      <i class="fa fa- fa-leaf"></i> Vivero San Nicolas</a>
  </li>
  <li>Administración</li>
  <li>Comprobantes</li>
</ol>

<div class="row animated fadeIn">


  <div class="col-md-12">
    <div class="box">

      <div class="box-header with-border">
        <h3 class="box-title">Comprobantes</h3>
        <div class="row">

          <div class="col-md-6">
            <div id="example1_filter" class="dataTables_filter">
              <label>Buscar:
                <input class="form-control input-sm" placeholder="" aria-controls="example1" type="search">
              </label>
            </div>
          </div>
        </div>

      </div>
      <!-- /.box-header -->

      <div class="box-body table-responsive">

        <table class="table table-hover table-striped">
          <thead >
            <tr>
              <th class="sorting">Fecha</th>
              <th>Número </th>
              <th>Descripción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let comprobante of comprobantes">
              <td>{{comprobante.numero}}</td>
              <td>{{comprobante.descripcion}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
