<form #pedidoDetalle="ngForm" *ngIf="pedido">
  <ol class="breadcrumb animated fadeIn">
    <li>
      <a href="">
        <i class="fa fa- fa-leaf"></i> Vivero San Nicolas</a>
    </li>
    <li>
      <a [routerLink]="['/produccion']">Producción</a>
    </li>
    <li>
      <a [routerLink]="['/produccion/pedidos']">Pedidos</a>
    </li>
    <li>Detalle</li>
  </ol>
  <div class="row animated fadeIn">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Pedido: {{pedido.id}}</h3>
        </div>
        <!-- /.box-header -->

        <div class="col-md-12">

          <div class="col-md-2">
            <label>Fecha</label>
            <br>
            <span>
              {{pedido.fecha | date:'dd/MM/yyyy'}}
            </span>
          </div>

          <div class="col-md-2">
            <label>Número</label>
            <br>
            <span>
              {{pedido.numero}}
            </span>
          </div>

          <div class="col-md-3">
            <label>Cliente</label>
            <br>
            <span>
              {{pedido.clienteEmpresa.cliente.persona.cuit}} - {{pedido.clienteEmpresa.cliente.persona.nombre}} {{pedido.clienteEmpresa.cliente.persona.apellido}}
            </span>
          </div>

          <div class="col-md-3">
            <label>Empresa</label>
            <br>
            <span>
              {{pedido.clienteEmpresa.empresa.cuit}} - {{pedido.clienteEmpresa.empresa.razonSocial}}
            </span>
          </div>

          <div class="col-md-2">
            <label>Monto</label>
            <br>
            <span>
              {{pedido.monto | currency}}
            </span>
          </div>


        </div>

        <div class="row"></div>
        <br>

        <div class="box-header with-border">
          <h5 class="box-title">Detalle</h5>
        </div>

        <div class="box-body table-responsive">

          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Variedad</th>
                <th>Semana Siembra</th>
                <th>Semana Entrega</th>
                <th>Cantidad de Plantas</th>
                <th>Cantidad de Bandejas</th>
                <th>Precio Sem.</th>
                <th>Precio Serv.</th>
                <th>SubTotal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let det of detalleList">
                <td>{{det.variedad.descripcion}}</td>
                <td>{{det.semanaSiembra }}</td>
                <td>{{det.semanaEntrega }}</td>
                <td>{{det.cantidadPlantas | number: '1.0' }}</td>
                <td>{{det.cantidadBandeja | number: '1.0' }}</td>
                <td>{{det.precioUnitario | currency }}</td>
                <td>{{det.precioProduccion | currency }}</td>
                <td>{{det.subTotal | currency }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
      <div class="col-md-2">
          <button type="button" class="btn btn-danger" [routerLink]="['/produccion/pedidos']">
            <i class="fa fa-backward"></i> Volver
          </button>
      </div>
      <div class="col-md-2">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pedidoModal" [routerLink]="['/produccion/pedido/editar', pedido.id]">
            <i class="fa fa-pencil"></i> Editar
          </button>

      </div>
    </div>

</form>
