<!-- Modal -->
<form #formPedido="ngForm" (ngSubmit)="save()" (keydown)="onKeydown($event)">

  <div class="modal fade" id="pedidoModal" tabindex="-1" role="dialog" aria-labelledby="pedidoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-content-big">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">×</span>
          </button>
          <h2 class="modal-title text-primary text-center"> {{ titulo }}
            <i class="fa fa-plus"></i>
          </h2>
        </div>
        <div class="modal-body">

          <div class="row form-group">
            <div class="col-md-4">
              <label>Fecha
              </label>
              <input class="form-control" #fecha="ngModel" name="fecha" [(ngModel)]="pedido.fecha" type="date" required>
              <span class="help-block text-red" *ngIf="!fecha.valid && fecha.touched">La fecha es obligatoria
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>
            <div class="col-md-2">
              <label>Número
              </label>
              <input class="form-control" #numero="ngModel" name="numero" [(ngModel)]="pedido.numero" type="text" required>
              <span class="help-block text-red" *ngIf="!numero.valid && numero.touched">El número es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

            <div class="col-md-3">
              <label>Anticipo
              </label>
              <input class="form-control" #montoAtn="ngModel" name="montoAtn" [(ngModel)]="anticipo.monto" type="number">
            </div>

            <div class="row"></div>
            <br>

            <div class="col-md-12">
              <label>Cliente/Empresa</label>
              <mat-form-field>
                <input class="form-control" type="text" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="clienteEmpresa"
                  required>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplayFn()">
                  <mat-option *ngFor="let clienteEmpresa of filteredClienteEmpresas | async" [value]="clienteEmpresa" (onSelect)="selected(clienteEmpresa)">
                    Cliente: {{ clienteEmpresa.cliente.persona.nombre }} {{ clienteEmpresa.cliente.persona.apellido }} - {{ clienteEmpresa.cliente.persona.cuit
                    }} | Empresa: {{ clienteEmpresa.empresa.razonSocial }} - {{ clienteEmpresa.empresa.cuit }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <span class="help-block text-red" *ngIf="!auto.valid && auto.touched">El Cliente/Empresa es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>


          </div>


          <!-- ////////////////////// Detalle ////////////////////////-->

          <div class="row form-group">
            <div class="col-md-12">
              <h4>Detalle</h4>
            </div>

            <div class="col-md-4">
              <label>Semana Entrega</label>
              <input class="form-control" #semanaEntrega="ngModel" name="semanaEntrega" [(ngModel)]="detalle.semanaEntrega" type="week">
            </div>

            <div class="col-md-3">
              <label>Dias</label>
              <input class="form-control" #dias="ngModel" name="dias" [(ngModel)]="detalle.dias" type="number" (change)="calcSemanas()">
            </div>

            <div class="col-md-4">
              <label>Semana Siembra</label>
              <input class="form-control" #semanaSiembra="ngModel" name="semanaSiembra" [(ngModel)]="detalle.semanaSiembra" type="week"
                disabled>
            </div>


            <div class="row"></div>
            <br>

            <div class="col-md-6">
              <label>Variedad</label>
              <mat-form-field>
                <input class="form-control" type="text" aria-label="Number" matInput [formControl]="myControlVar" [matAutocomplete]="autoVar"
                  [(ngModel)]="variedad">
                <mat-autocomplete #autoVar="matAutocomplete" [displayWith]="getDisplayFnVar()">
                  <mat-option *ngFor="let variedad of filteredVariedades | async" [value]="variedad" (onSelect)="selectedVar(variedad)">
                    {{ variedad.especie.descripcion }} - {{ variedad.descripcion }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

            </div>

            <div class="col-md-2">
              <label>Bandeja</label>
              <select [(ngModel)]="bandejaStock.bandeja" class="form-control" #bandeja="ngModel" name="bandeja" [compareWith]="compareBandeja"
                (change)="calcCantidades()">
                <option *ngFor="let bandeja of bandejas" [ngValue]="bandeja">{{bandeja.capacidad}}</option>
              </select>
            </div>

            <div class="col-md-2">
              <label>Cant. Plantas</label>
              <input class="form-control" #cantidadPlantas="ngModel" name="cantidadPlantas" [(ngModel)]="detalle.cantidadPlantas" type="number"
                (change)="calcCantidades()">
            </div>

            <div class="col-md-2">
              <label>% Germ.</label>
              <input class="form-control" #porcGerminacion="ngModel" name="porcGerminacion" [(ngModel)]="detalle.porcGerminacion" type="number"
                (change)="calcCantidades()">
            </div>

            <div class="row"></div>

            

            <div class="col-md-2">
              <label>Cant. Band.</label>
              <input class="form-control" #cantidadBandeja="ngModel" name="cantidadBandeja" [(ngModel)]="detalle.cantidadBandeja" type="number"
                disabled>
            </div>

            <div class="col-md-2">
              <label>Precio Sem.</label>
              <input class="form-control" #precioUnitario="ngModel" name="precioUnitario" [(ngModel)]="detalle.precioUnitario" type="number"
                (change)="calcMontos()">
            </div>

            <div class="col-md-2">
              <label>Precio Serv.</label>
              <input class="form-control" #precioProduccion="ngModel" name="precioProduccion" [(ngModel)]="detalle.precioProduccion" type="number"
                (change)="calcMontos()">
            </div>

            <div class="col-md-3">
              <label>Sub Total</label>
              <input class="form-control" #subTotal="ngModel" name="subTotal" [(ngModel)]="detalle.subTotal" type="number" disabled>
            </div>

            <div class="col-md-3">
              <br>
              <button type="button" class=" btn btn-success btn-sm center" (click)="addDetalle()">
                <i class="fa fa-angle-double-down"></i> Agregar Detalle</button>
            </div>


          </div>



          <div class="row form-group">
            <div class="col-md-12">

              <div class="box-body table-responsive">

                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Variedad</th>
                      <th>Bandeja</th>
                      <th>Cant. Plan.</th>
                      <th>Cant. Band.</th>
                      <th>Precio Sem.</th>
                      <th>Precio Servi.</th>
                      <th>SubTotal</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let det of detalleList">
                      <td>{{det.variedad.descripcion}}</td>
                      <td>{{det.bandejaStock.bandeja.capacidad }}</td>
                      <td>{{det.cantidadPlantas }}</td>
                      <td>{{det.cantidadBandeja }}</td>
                      <td>{{det.precioUnitario | currency }}</td>
                      <td>{{det.precioProduccion | currency }}</td>
                      <td>{{det.subTotal | currency }}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="6">
                        <label class="pull-right">Total:</label>
                      </td>
                      <td colspan="2">
                        <label class="pull-right">{{pedido.monto | currency:'$':true }}</label>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>

            </div>

          </div>

          <!-- ////////////////////// Fin Detalle ////////////////////////-->



        </div>
        <!--Fin modal body-->

        <div class="modal-footer">
          <div class="col-md-3">
            <button type="button" class=" btn btn-warning btn-lg pull-left" data-dismiss="modal" (click)="close()">
              <i class="fa fa-reply"></i> Regresar</button>
          </div>
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!formPedido.form.valid || isSaving">
              <i class="fa fa-refresh "></i> Guardar</button>

          </div>
        </div>
      </div>
    </div>
  </div>

</form>
