<ol class="breadcrumb animated fadeIn">
  <li>
    <a href="">
      <i class="fa fa- fa-leaf"></i> Vivero San Nicolas</a>
  </li>
  <li>Producción</li>
  <li>{{ titulo }}</li>
</ol>

<div class="row animated fadeIn">


  <div class="col-md-12">
    <div class="box">

      <div class="box-header with-border">
        <h3 class="box-title">{{ titulo }}</h3>
        <div class="row">

          <div class="col-md-6">
            <div id="example1_filter" class="dataTables_filter">
              <label>Buscar:
                <input class="form-control input-sm" placeholder="" aria-controls="example1" type="search">
              </label>
            </div>
          </div>
        </div>

        <div class="box-tools">
          <div class="input-group">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pedidoModal" [routerLink]="['/produccion/pedido/agregar']">
<i class="fa fa-plus"></i> Agregar Pedido

            </button>
            <router-outlet></router-outlet>
          </div>
        </div>

      </div>
      <!-- /.box-header -->

      <div class="box-body table-responsive">

        <table class="table table-hover ">
          <thead>
            <tr>
              <th>Numero</th>
              <th>Fecha</th>
              <th>Cliente</th>
              <th>Empresa</th>
              <th>Monto</th>
            </tr>
          </thead>
          <tbody>
<tr *ngFor="let pedido of pedidos | paginate: { itemsPerPage: 8, currentPage: p }">
              <td>{{pedido.numero}}</td>
              <td>{{pedido.fecha | date:'dd/MM/yyyy'}}</td>
              <td>{{pedido.clienteEmpresa.cliente.persona.cuit}} - {{pedido.clienteEmpresa.cliente.persona.nombre}} {{pedido.clienteEmpresa.cliente.persona.apellido}}</td>
              <td>{{pedido.clienteEmpresa.empresa.cuit}} - {{pedido.clienteEmpresa.empresa.razonSocial}}</td>
              <td>{{pedido.monto | currency}}</td>
              <td style="width: 280px;">
                <button type="button" class="btn btn-info" data-target="#pedidoDetalle" [routerLink]="['/produccion/pedido-detalle', pedido.id]">
                  <i class="fa fa-pencil"></i> Mostrar
                </button>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#pedidoModal" [routerLink]="['/produccion/pedido/editar', pedido.id]">
                  <i class="fa fa-pencil"></i> Editar
                </button>
                <button type="button" class="btn btn-danger ">
                  <i class="fa fa-eraser"></i> Eliminar</button>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-sm-4">
    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"></div>
  </div>
  <div class="col-sm-8">

    <pagination-controls (pageChange)="p = $event" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Anterior"
      nextLabel="Siguiente" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>



  </div>
</div>
</div>

