<!-- Modal -->
<form #formFletero="ngForm" (ngSubmit)="save()" (keydown)="onKeydown($event)">

  <div class="modal fade" id="fleteroModal" tabindex="-1" role="dialog" aria-labelledby="fleteroModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">×</span>
          </button>
          <h2 class="modal-title text-primary text-center"> {{ titulo }}
            <i class="fa fa-plus"></i>
          </h2>
        </div>
        <div class="modal-body">

          <div class="row form-group">

            <div class="col-md-4">
              <label>Tipo de Persona</label>
              <select [(ngModel)]="persona.tipoPersona" class="form-control" #tipoPersona="ngModel" name="tipoPersona" required 
                [compareWith]="compareTipoPersona" (change)="changeTipoPersona()">
                <option *ngFor="let tipoPersona of tipoPersonas" [ngValue]="tipoPersona">{{tipoPersona.descripcion}}</option>
              </select>
              <span class="help-block text-red" *ngIf="!tipoPersona.valid && tipoPersona.touched">El Tipo de Persona es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

            <div class="col-md-4">
              <label>CUIT</label>
              <input class="form-control" #cuit="ngModel" name="cuit" [(ngModel)]="persona.cuit" placeholder="Ingrese el CUIT" type="text"
                required>
              <span class="help-block text-red" *ngIf="!cuit.valid && cuit.touched">El CUIT es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

            <div class="col-md-4" *ngIf="showTipoPersona">
              <label>Fecha de Nac.</label>
              <input class="form-control" #fechaNac="ngModel" name="fechaNac" [(ngModel)]="persona.fechaNac" type="date">
            </div>

          </div>

          <div class="row form-group" *ngIf="showTipoPersona">

            <div class="col-md-4">
              <label>Tipo de Documento</label>
              <select [(ngModel)]="persona.tipoDocumento" class="form-control" #tipoDocumento="ngModel" name="tipoDocumento"
                [compareWith]="compareTipoDocumento">
                <option *ngFor="let tipoDocumento of tipoDocumentos" [ngValue]="tipoDocumento">{{tipoDocumento.descripcion}}</option>
              </select>
            </div>

            <div class="col-md-4" *ngIf="showTipoPersona">
              <label>DNI</label>
              <input class="form-control" #dni="ngModel" name="dni" [(ngModel)]="persona.dni" type="text">
            </div>


          </div>

          <div class="row form-group">

            <div class="col-md-6">
              <label>{{lblNombre}}</label>
              <input class="form-control" #nombre="ngModel" name="nombre" [(ngModel)]="persona.nombre" placeholder="Ingrese el Nombre"
                type="text" required>
              <span class="help-block text-red" *ngIf="!nombre.valid && nombre.touched">El Nombre es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

            <div class="col-md-6" *ngIf="showTipoPersona">
              <label>Apellido</label>
              <input class="form-control" #apellido="ngModel" name="apellido" [(ngModel)]="persona.apellido" placeholder="Ingrese el Apellido"
                type="text">
            </div>

          </div>

          <div class="row form-group">

            <div class="col-md-6">
              <label>Teléfono</label>
              <input class="form-control" #telefono="ngModel" name="telefono" [(ngModel)]="persona.telefono" placeholder="Ingrese el Teléfono"
                type="tel">
            </div>

            <div class="col-md-6">
              <label>Mail</label>
              <input class="form-control" #mail="ngModel" name="mail" [(ngModel)]="persona.mail" placeholder="Ingrese el Mail" type="email">
            </div>

          </div>


          <!-- domicilio -->
          <div class="row form-group">
            <h4>Domicilio</h4>
            <div class="col-md-2">
              <label>Tipo</label>
              <select [(ngModel)]="domicilio.tipoDomicilio" class="form-control" #tipoDomicilio="ngModel" name="tipoDomicilio" required
                [compareWith]="compareTipoDomicilio">
                <option *ngFor="let tipoDomicilio of tipoDomicilios" [ngValue]="tipoDomicilio">{{tipoDomicilio.descripcion}}</option>
              </select>
              <span class="help-block text-red" *ngIf="!tipoDomicilio.valid && tipoDomicilio.touched">El Tipo de Domicilio es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>
            <div class="col-md-4">
              <label>Calle
              </label>
              <input class="form-control" #calle="ngModel" name="calle" [(ngModel)]="domicilio.calle" type="text" required>
              <span class="help-block text-red" *ngIf="!calle.valid && calle.touched">La Calle es obligatoria
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>
            <div class="col-md-2">
              <label>Número
              </label>
              <input class="form-control" #numero="ngModel" name="numero" [(ngModel)]="domicilio.numero" type="text" required>
              <span class="help-block text-red" *ngIf="!numero.valid && numero.touched">La numeración es obligatoria
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

            <div class="col-md-2">
              <label>Piso
              </label>
              <input class="form-control" #piso="ngModel" name="piso" [(ngModel)]="domicilio.piso" type="text">
            </div>

            <div class="col-md-2">
              <label>Depto.
              </label>
              <input class="form-control" #departamento="ngModel" name="departamento" [(ngModel)]="domicilio.departamento" type="text">
            </div>

          </div>

          <div class="row form-group">

            <div class="col-md-6">
              <label>Referencia
              </label>
              <input class="form-control" #referencia="ngModel" name="referencia" [(ngModel)]="domicilio.referencia" type="text">
            </div>

            <div class="col-md-6">
              <label>Distrito</label>
              <br/>
              <mat-form-field>
                <input class="form-control" type="text"  aria-label="Number" matInput [formControl]="myControl"
                  [matAutocomplete]="auto" [(ngModel)]="domicilio.distrito" required>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplayFn()">
                  <mat-option *ngFor="let distrito of filteredDistritos | async" [value]="distrito" (onSelect)="selected(distrito)">
                    {{ distrito.descripcion }} - {{ distrito.localidad.descripcion }} - {{ distrito.localidad.provincia.descripcion }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              
            </div>

          </div>
          <!--Fin domicilio-->


        </div>
        <div class="modal-footer">
          <div class="col-md-3">
            <button type="button" class=" btn btn-warning btn-lg pull-left" data-dismiss="modal" (click)="close()">
              <i class="fa fa-reply"></i> Regresar</button>
          </div>
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!formFletero.form.valid || isSaving">
              <i class="fa fa-refresh "></i> Guardar</button>

          </div>
        </div>
      </div>
    </div>
  </div>

</form>
