<!-- Modal -->
<form #formInvernadero="ngForm" (ngSubmit)="save()" (keydown)="onKeydown($event)">

  <div class="modal fade" id="invernaderoModal" tabindex="-1" role="dialog" aria-labelledby="invernaderoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">×</span>
          </button>
          <h2 class="modal-title text-primary text-center"> {{ titulo }}
            <i class="fa fa-plus"></i>
          </h2>
        </div>
        <div class="modal-body">

          <div class="row form-group">

            <div class="col-md-6">
              <label>Sucursal</label>
              <select [(ngModel)]="invernadero.sucursal" class="form-control" #sucursal="ngModel" name="sucursal" required [compareWith]="compareSucursal">
                <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal">{{sucursal.descripcion}}</option>
              </select>
              <span class="help-block text-red" *ngIf="!sucursal.valid && sucursal.touched">La Sucursal es obligatoria
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

            <div class="col-md-6">
              <label>Descripción</label>
              <input class="form-control" #descripcion="ngModel" name="descripcion" [(ngModel)]="invernadero.descripcion" placeholder="Ingrese la Invernadero"
                type="text" required>
              <span class="help-block text-red" *ngIf="!descripcion.valid && descripcion.touched">El invernadero es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

          </div>


          <div class="row form-group">
            
              <div class="col-md-2">
                  <label>Habilitado</label>
                  <input class="checkbox center" #habilitado="ngModel" name="habilitado" [(ngModel)]="invernadero.habilitado" type="checkbox" (click)="checkHabilitado()">
              </div>

              <div class="col-md-3">
                <label>Capacidad</label>
                <input class="form-control" #capacidad="ngModel" name="capacidad" [(ngModel)]="invernadero.capacidad"
                  type="number" required>
                <span class="help-block text-red" *ngIf="!capacidad.valid && capacidad.touched">La Capacidad es obligatoria
                  <i class="fa fa-exclamation-circle "></i>
                </span>
              </div>
  
              <div class="col-md-7">
                <label>Observaciones</label>
                <input class="form-control" #observacion="ngModel" name="observacion" [(ngModel)]="invernadero.observacion" type="text">
              </div>
  
            </div>

        </div>
        <div class="modal-footer">
          <div class="col-md-3">
            <button type="button" class=" btn btn-warning btn-lg pull-left" data-dismiss="modal" (click)="close()">
              <i class="fa fa-reply"></i> Regresar</button>
          </div>
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!formInvernadero.form.valid || isSaving">
              <i class="fa fa-refresh "></i> Guardar</button>

          </div>
        </div>
      </div>
    </div>
  </div>

</form>
