<ol class="breadcrumb animated fadeIn">
  <li>
    <a href="">
      <i class="fa fa- fa-leaf"></i> Vivero San Nicolas</a>
  </li>
  <li>
    <a [routerLink]="['/produccion']">Producción</a>
  </li>
  <li>
    <a [routerLink]="['/produccion/compras']">Compras</a>
  </li>
</ol>
<div class="row animated fadeIn">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Compras</h3>
        <div class="row">

          <div class="col-md-6">
            <div id="example1_filter" class="dataTables_filter">
              <label>Buscar:
                <input class="form-control input-sm" placeholder="" aria-controls="example1" type="search">
              </label>
            </div>
          </div>
        </div>

        <div class="box-tools">
          <div class="input-group">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#compraModal" [routerLink]="['/produccion/compra/agregar']">
              <i class="fa fa-plus"></i> Agregar Compra
            </button>
            <router-outlet></router-outlet>
          </div>
        </div>

      </div>
      <!-- /.box-header -->

      <div class="box-body table-responsive">

        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Número</th>
              <th>Fecha</th>
              <th>I.V.A.</th>
              <th>Monto</th>
              <th>Proveedor</th>
            </tr>
          </thead>
          <tbody>
<tr *ngFor="let compra of compras | paginate: { itemsPerPage: 8, currentPage: p }">
              <td>{{compra.id}}</td>
              <td>{{compra.fecha | date:'dd/MM/yyyy'}}</td>
              <td>{{compra.montoIva | currency}}</td>
              <td>{{compra.monto | currency}}</td>
              <td>{{compra.proveedor.persona.cuit}} - {{compra.proveedor.persona.nombre}} {{compra.proveedor.persona.apellido}}
              </td>
              <td style="width: 280px;">
                <button type="button" class="btn btn-info" data-target="#compraDetalle" [routerLink]="['/produccion/compra-detalle', compra.id]">
                  <i class="fa fa-pencil"></i> Mostrar
                </button>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#compraModal" [routerLink]="['/produccion/compra/editar', compra.id]">
                  <i class="fa fa-pencil"></i> Editar
                </button>
                <button type="button" class="btn btn-danger ">
                  <i class="fa fa-eraser"></i> Eliminar</button>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-sm-4">
    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"></div>
  </div>
  <div class="col-sm-8">

    <pagination-controls (pageChange)="p = $event" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Anterior"
      nextLabel="Siguiente" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>



  </div>
</div>
</div>
