<form #compraDetalle="ngForm" *ngIf="compra">
  <ol class="breadcrumb animated fadeIn">
    <li>
      <a href="">
        <i class="fa fa- fa-leaf"></i> Vivero San Nicolas</a>
    </li>
    <li>
      <a [routerLink]="['/produccion']">Producción</a>
    </li>
    <li>
      <a [routerLink]="['/produccion/compras']">Compras</a>
    </li>
    <li>Detalle</li>
  </ol>
  <div class="row animated fadeIn">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Compra: {{compra.id}}</h3>
        </div>
        <!-- /.box-header -->

        <div class="col-md-12">

          <div class="col-md-2">
            <label>Fecha</label>
            <br>
            <span>
              {{compra.fecha | date:'dd/MM/yyyy'}}
            </span>
          </div>

          <div class="col-md-2">
            <label>Número</label>
            <br>
            <span>
              {{compra.numero}}
            </span>
          </div>

          <div class="col-md-3">
            <label>Proveedor</label>
            <br>
            <span>
              {{compra.proveedor.persona.cuit}} - {{compra.proveedor.persona.nombre}} {{compra.proveedor.persona.apellido}}
            </span>
          </div>

          <div class="col-md-2">
            <label>Monto I.V.A.</label>
            <br>
            <span>
              {{compra.montoIva | currency}}
            </span>
          </div>

          <div class="col-md-2">
            <label>Monto</label>
            <br>
            <span>
              {{compra.monto | currency}}
            </span>
          </div>


        </div>

        <div class="row"></div>
        <br>

        <div class="box-header with-border">
          <h5 class="box-title">Detalle</h5>
        </div>

        <div class="box-body table-responsive">

          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Variedad</th>
                <th>Lote</th>
                <th>Batch</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Bonif.</th>
                <th>SubTotal</th>
                <th>IVA</th>
                <th>SubTotal IVA</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let det of detalleList">
                <td>{{det.batch.lote.variedad.descripcion}}</td>
                <td>{{det.batch.lote.numero}}</td>
                <td>{{det.batch.numero}}</td>
                <td>{{det.cantidad }}</td>
                <td>{{det.precioUnitario | currency }}</td>
                <td>{{det.montoBonif | currency }}</td>
                <td>{{det.subTotal | currency }}</td>
                <td>{{det.montoIva | currency }}</td>
                <td>{{det.subTotalIva | currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
      <div class="col-md-2">
          <button type="button" class="btn btn-danger" [routerLink]="['/produccion/compras']">
            <i class="fa fa-backward"></i> Volver
          </button>
      </div>
      <div class="col-md-2">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#compraModal" [routerLink]="['/produccion/compra/editar', compra.id]">
            <i class="fa fa-pencil"></i> Editar
          </button>

      </div>
    </div>

</form>
