<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Usuario Logueado</p>
        <!-- Status -->
        <a href="#">
          <i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <!-- <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form> -->
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Opciones</li>
      <!-- Optionally, you can add icons to the links -->

      <!-- ///////////////// ADMINISTRACION //////////////////////////////////////////////////// -->
      <li class="treeview" routerLinkActivate="active">
        <a [routerLink]="['/administracion/cajas']">
          <i class="fa fa-suitcase"></i>

          <span>Administración</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="['/administracion/cajas']">Cajas</a>
          </li>
          <li routerLinkActivate="active">
            <a [routerLink]="['/administracion/comprobantes']">Comprobantes</a>
          </li>
          <li>
            <a [routerLink]="['/administracion/cuentas']">Cuentas</a>
          </li>
          <li>
            <a [routerLink]="['/administracion/cuentas-fleteros']">Cuentas Fleteros</a>
          </li>
          <li routerLinkActivate="active">
            <a [routerLink]="['/administracion/cuentas-fleteros-band']">Cuenta-fletero-band</a>


          </li>
          <li>
            <a [routerLink]="['/administracion/cuentas-proveedores']">Cuentas Proveedores</a>
          </li>
          <li>
            <a [routerLink]="['/administracion/listas-precios']">Lista Precios</a>
          </li>
          <li>
            <a [routerLink]="['/administracion/pagos']">Pago</a>
          </li>
          <li>
            <a [routerLink]="['/administracion/pagos-proveedores']">Pago Proveedor</a>
          </li>

        </ul>

      </li>


      <!-- ///////////////// PRODUCCION //////////////////////////////////////////////////// -->
      <li class="treeview" routerLinkActivate="active">
        <a [routerLink]="['/produccion/pedidos']">
          <i class="fa fa-building-o"></i>

          <span>Producción</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="['/produccion/pedidos']">Pedidos</a>
          </li>
          <li routerLinkActivate="active">
            <a [routerLink]="['/produccion/siembras']">Siembras</a>
          </li>
          <li routerLinkActivate="active">
            <a [routerLink]="['/produccion/identificadores']">Identificadores</a>
          </li>
          <li>
            <a [routerLink]="['/produccion/remitos']">Remitos</a>
          </li>
          <li>
            <a [routerLink]="['/produccion/compras']">Compras Semillas</a>
          </li>
          <li>
            <a [routerLink]="['/produccion/stock-semillas']">Stock Semillas</a>
          </li>
          <li>
            <a [routerLink]="['/produccion/analisis-batchs']">Análisis Batch</a>
          </li>

        </ul>

      </li>

      <!-- ///////////////// PERSONAS //////////////////////////////////////////////////// -->
      <li class="treeview">
        <a routerLinkActivate="active" [routerLink]="['/personas/empresas']">
          <i class="fa  fa-user"></i>
          <span>Personas</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a routerLinkActive="active" [routerLink]="['/personas/empresas']">Empresas</a>
          </li>
          <li>
            <a routerLinkActive="active" [routerLink]="['/personas/clientes']">Clientes / Productores</a>
          </li>
          <li routerLinkActivate="active">
            <a [routerLink]="['/personas/proveedores']">Proveedores</a>
          </li>
          <li routerLinkActivate="active">
            <a [routerLink]="['/personas/proveedores-bandejas']">Proveedores de Bandejas</a>
          </li>
          <li>
            <a [routerLink]="['/personas/fleteros']">Fleteros</a>
          </li>
          <li>
            <a [routerLink]="['/personas/fincas']">Fincas</a>
          </li>
        </ul>

      </li>



      <!-- ///////////////// HERRAMIENTAS //////////////////////////////////////////////////// -->
      <li class="treeview" routerLinkActivate="active">
        <a [routerLink]="['/herramientas/bandejas']">
          <i class="fa fa-gear"></i>
          <span>Herramientas</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="['/herramientas/bandejas']">Bandejas</a>
          </li>
          <li>
            <a [routerLink]="['/herramientas/tipos-bandejas']">Tipo de Bandejas</a>
          </li>
          <li>
            <a [routerLink]="['/herramientas/especies']">Especies</a>
          </li>
          <li>
            <a [routerLink]="['/herramientas/variedades']">Variedades</a>
          </li>
          <li>
            <a [routerLink]="['/herramientas/entidades']">Entidades</a>
          </li>
          <li>
            <a [routerLink]="['/herramientas/sucursales']">Sucursales</a>
          </li>
          <li>
            <a [routerLink]="['/herramientas/calendarios']">Calendarios</a>
          </li>
          <li>
            <a [routerLink]="['/herramientas/tipos-analisis-batchs']">Tipo Análisis Batch</a>
          </li>
          <li>
            <a [routerLink]="['/herramientas/invernaderos']">Invernaderos</a>
          </li>
          <li>
            <a [routerLink]="['/herramientas/tipos-movs-stocks-sem']">Tipo Mov. Stock Sem</a>
          </li>

        </ul>
      </li>

      <!-- ///////////////// CLASIFICADORES //////////////////////////////////////////////////// -->
      <li class="treeview" routerLinkActivate="active">
        <a [routerLink]="['/clasificadores/paises']">
          <i class="fa fa-folder-o"></i>
          <span>Clasificadores</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="['/clasificadores/paises']">Paises</a>
          </li>
          <li routerLinkActivate="active">
            <a [routerLink]="['/clasificadores/provincias']">Provincias</a>
          </li>
          <li>
            <a [routerLink]="['/clasificadores/localidades']">Localidades</a>
          </li>
          <li>
            <a [routerLink]="['/clasificadores/zonas']">Zonas</a>
          </li>
          <li>
            <a [routerLink]="['/clasificadores/distritos']">Distritos</a>
          </li>
          <li>
            <a [routerLink]="['/clasificadores/tipos-domicilios']">Tipos de Domicilios</a>
          </li>
          <li>
            <a [routerLink]="['/clasificadores/tipos-contactos']">Tipos de Contactos</a>
          </li>
          <li>
            <a [routerLink]="['/clasificadores/tipos-documentos']">Tipos de Documento</a>
          </li>

        </ul>
      </li>


      <!-- <li class="treeview">
        <a href="#">
          <i class="fa fa-link"></i>
          <span>Multilevel</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="#">Link in level 2</a>
          </li>
          <li>
            <a href="#">Link in level 2</a>
          </li>
        </ul>

      </li> -->


    </ul>


  </section>

</aside>
