<ol class="breadcrumb animated fadeIn">
  <li>
    <a href="">
      <i class="fa fa- fa-leaf"></i> Vivero San Nicolas</a>
  </li>
  <li>Clasificadores</li>
  <li>Localidad</li>
</ol>

<div class="row animated fadeIn">


  <div class="col-md-12">
    <div class="box">

      <div class="box-header with-border">
        <h3 class="box-title">Localidad</h3>
        <div class="row">

          <div class="col-md-6">
            <div id="example1_filter" class="dataTables_filter">
              <label>Buscar:
<input class="form-control input-sm" placeholder="" aria-controls="example1" type="search" [formControl]="myLocalidad" #txtBuscar>
              </label>
            </div>
          </div>
        </div>

        <div class="box-tools">
          <div class="input-group">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#localidadModal" [routerLink]="['/clasificadores/localidad/agregar']">
              <i class="fa fa-plus"></i> Agregar Localidad
            </button>
            <router-outlet></router-outlet>
          </div>
        </div>

      </div>
      <!-- /.box-header -->

      <div class="box-body table-responsive">

        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Pais</th>
              <th>Provincia</th>
              <th>Localidad</th>
              <th>Zona</th>
            </tr>
          </thead>
          <tbody>
<tr *ngFor="let localidad of localidades | filterLocalidad : txtBuscar.value | paginate: { itemsPerPage: 8, currentPage: p }">
              <td>{{localidad.provincia.pais.descripcion}}</td>
              <td>{{localidad.provincia.descripcion}}</td>
              <td>{{localidad.descripcion}}</td>
              <td>{{localidad.zona.descripcion}}</td>
              <td style="width: 280px;">

                <a class="btn btn-info" href="">
                  <i class="fa fa-eye"></i> Mostrar</a>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#localidadModal" [routerLink]="['/clasificadores/localidad/editar', localidad.id]">
                  <i class="fa fa-pencil"></i> Editar
                </button>
                <button type="button" class="btn btn-danger ">
                  <i class="fa fa-eraser"></i> Eliminar</button>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-sm-4">
    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"></div>
  </div>
  <div class="col-sm-8">

    <pagination-controls (pageChange)="p = $event" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Anterior"
      nextLabel="Siguiente" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>



  </div>
</div>
</div>
