<!-- Modal -->
<form #formLocalidad="ngForm" (ngSubmit)="save()" (keydown)="onKeydown($event)">

  <div class="modal fade" id="localidadModal" tabindex="-1" role="dialog" aria-labelledby="localidadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">×</span>
          </button>
          <h2 class="modal-title text-primary text-center"> {{ titulo }}
            <i class="fa fa-plus"></i>
          </h2>
        </div>
        <div class="modal-body">

          <div class="row form-group">
            <div class="col-md-6">
              <label>Descripción
              </label>
              <input class="form-control" #descripcion="ngModel" name="descripcion" [(ngModel)]="localidad.descripcion" placeholder="Ingrese el Localidad"
                type="text" required>
              <span class="help-block text-red" *ngIf="!descripcion.valid && descripcion.touched">El localidad es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>
            <div class="col-md-6">
              <label>Zona
              </label>
              <select [(ngModel)]="localidad.zona" class="form-control" #zona="ngModel" name="zona" required [compareWith]="compareZona">
                <option *ngFor="let zona of zonas" [ngValue]="zona">{{zona.descripcion}}</option>
              </select>
              <span class="help-block text-red" *ngIf="!zona.valid && zona.touched">La zona es obligatoria
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>
            
          </div>
          <div class="row form-group">
            <div class="col-md-6">
              <label>País
              </label>
              <select ngModel class="form-control" #pais="ngModel" name="pais" required [compareWith]="comparePais">
                <option *ngFor="let pais of paises" [ngValue]="pais">{{pais.descripcion}}</option>
              </select>
              <span class="help-block text-red" *ngIf="!pais.valid && pais.touched">El País es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>
            <div class="col-md-6">
              <label>Provincia
              </label>
              <select [(ngModel)]="localidad.provincia" class="form-control" #provincia="ngModel" name="provincia" required [compareWith]="compareProvincia">
                <option *ngFor="let provincia of provincias" [ngValue]="provincia">{{provincia.descripcion}}</option>
              </select>
              <span class="help-block text-red" *ngIf="!provincia.valid && provincia.touched">La provincia es obligatoria
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

          </div>


        </div>
        <div class="modal-footer">
          <div class="col-md-3">
            <button type="button" class=" btn btn-warning btn-lg pull-left" data-dismiss="modal" (click)="close()">
              <i class="fa fa-reply"></i> Regresar</button>
          </div>
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!formLocalidad.form.valid || isSaving">
              <i class="fa fa-refresh "></i> Guardar</button>

          </div>
        </div>
      </div>
    </div>
  </div>

</form>
