<ol class="breadcrumb animated fadeIn">
  <li>
    <a href="">
      <i class="fa fa- fa-leaf"></i> Vivero San Nicolas</a>
  </li>
  <li>Herramientas</li>
  <li>Bandejas</li>
</ol>

<div class="row animated fadeIn">


  <div class="col-md-12">
    <div class="box">

      <div class="box-header with-border">
        <h3 class="box-title">Bandejas</h3>
        <div class="row">

          <div class="col-md-6">
            <div id="example1_filter" class="dataTables_filter">
              <label>Buscar:
<input class="form-control input-sm" [formControl]="myBandeja" #txtBuscar type="search">
              </label>
            </div>
          </div>
        </div>

        <div class="box-tools">
          <div class="input-group">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bandejaModal" [routerLink]="['/herramientas/bandeja/agregar']">
              <i class="fa fa-plus"></i> Agregar Bandeja
            </button>
            <router-outlet></router-outlet>
          </div>
        </div>

      </div>
      <!-- /.box-header -->

      <div class="box-body table-responsive">

        <table class="table table-hover ">
          <thead>
            <tr>
              <th>Tipo de Bandeja</th>
              <th>Descripción</th>
              <th>Capacidad</th>
              <th>Período</th>
              <th>Proveedor</th>
            </tr>
          </thead>
          <tbody>
<tr *ngFor="let bandeja of bandejas | filterBandeja : txtBuscar.value | paginate: { itemsPerPage: 8, currentPage: p }">
              <td>{{bandeja.tipoBandeja.descripcion}}</td>
              <td>{{bandeja.descripcion}}</td>
              <td>{{bandeja.capacidad}}</td>
              <td>{{bandeja.periodo}}</td>
              <td>{{bandeja.proveedorBandeja.persona.cuit}} - {{bandeja.proveedorBandeja.persona.nombre}} {{bandeja.proveedorBandeja.persona.apellido}}</td>
              <td style="width: 280px;">
                <a class="btn btn-info" href="">
                  <i class="fa fa-eye"></i> Mostrar</a>
                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#bandejaModal" [routerLink]="['/herramientas/bandeja/editar', bandeja.id]">
                    <i class="fa fa-pencil"></i> Editar
                  </button>
                <button type="button" class="btn btn-danger ">
                  <i class="fa fa-eraser"></i> Eliminar</button>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-sm-4">
    <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"></div>
  </div>
  <div class="col-sm-8">

    <pagination-controls (pageChange)="p = $event" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Anterior"
      nextLabel="Siguiente" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>



  </div>
</div>
</div>