<!-- Modal -->
<form #formBandeja="ngForm" (ngSubmit)="save()" (keydown)="onKeydown($event)">

  <div class="modal fade" id="bandejaModal" tabindex="-1" role="dialog" aria-labelledby="bandejaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">×</span>
          </button>
          <h2 class="modal-title text-primary text-center"> {{ titulo }}
            <i class="fa fa-plus"></i>
          </h2>
        </div>
        <div class="modal-body">

          <div class="row form-group">
            <div class="col-md-6">
              <label>Tipo de Bandeja
              </label>
              <select [(ngModel)]="bandeja.tipoBandeja" class="form-control" #tipoBandeja="ngModel" name="tipoBandeja" required [compareWith]="compareTipoBandeja">
                <option *ngFor="let tipoBandeja of tipoBandejas" [ngValue]="tipoBandeja">{{tipoBandeja.descripcion}}</option>
              </select>
              <span class="help-block text-red" *ngIf="!tipoBandeja.valid && tipoBandeja.touched">El Tipo de Bandeja es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>
            <!-- ACA QUIERO METER EL ANGUCOMPLETE -->
            <div class="col-md-6">
              <label>Proveedor
              </label>
              <select [(ngModel)]="bandeja.proveedorBandeja" class="form-control" #proveedorBandeja="ngModel" name="proveedorBandeja" required
                [compareWith]="compareProveedorBandeja">
                <option *ngFor="let proveedorBandeja of proveedorBandejas" [ngValue]="proveedorBandeja">{{proveedorBandeja.persona.cuit}} - {{proveedorBandeja.persona.nombre}} {{proveedorBandeja.persona.apellido}}</option>
              </select>
              <span class="help-block text-red" *ngIf="!proveedorBandeja.valid && proveedorBandeja.touched">El Proveedor es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

          </div>

          <div class="row form-group">
            <div class="col-md-6">
              <label>Descripción
              </label>
              <input class="form-control" #descripcion="ngModel" name="descripcion" [(ngModel)]="bandeja.descripcion" placeholder="Ingrese la descripción"
                type="text" required>
              <span class="help-block text-red" *ngIf="!descripcion.valid && descripcion.touched">La descripción es obligatoria
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

            <div class="col-md-3">
              <label>Capacidad
              </label>
              <input class="form-control" #capacidad="ngModel" name="capacidad" [(ngModel)]="bandeja.capacidad"
                type="text" required>
              <span class="help-block text-red" *ngIf="!capacidad.valid && capacidad.touched">La capacidad es obligatoria
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

            <div class="col-md-3">
              <label>Período
              </label>
              <input class="form-control" #periodo="ngModel" name="periodo" [(ngModel)]="bandeja.periodo"
                type="text" required>
              <span class="help-block text-red" *ngIf="!periodo.valid && periodo.touched">El período es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

          </div>



        </div>
        <div class="modal-footer">
          <div class="col-md-3">
            <button type="button" class=" btn btn-warning btn-lg pull-left" data-dismiss="modal" (click)="close()">
              <i class="fa fa-reply"></i> Regresar</button>
          </div>
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!formBandeja.form.valid || isSaving">
              <i class="fa fa-refresh "></i> Guardar</button>

          </div>
        </div>
      </div>
    </div>
  </div>

</form>
