<form #siembraDetalle="ngForm" *ngIf="siembra">
  <ol class="breadcrumb animated fadeIn">
    <li>
      <a href="">
        <i class="fa fa- fa-leaf"></i> Vivero San Nicolas</a>
    </li>
    <li>
      <a [routerLink]="['/produccion']">Producción</a>
    </li>
    <li>
      <a [routerLink]="['/produccion/siembras']">Siembras</a>
    </li>
    <li>Detalle</li>
  </ol>
  <div class="row animated fadeIn">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Siembra: {{siembra.id}}</h3>

          <div class="box-tools">
            <div class="input-group">
              <router-outlet></router-outlet>
            </div>
            
          </div>

        </div>
        <!-- /.box-header -->

        <div class="col-md-12">

          <div class="col-md-2">
            <label>Fecha</label>
            <br>
            <span>
              {{siembra.fecha | date:'dd/MM/yyyy'}}
            </span>
          </div>

          <div class="col-md-2">
            <label>Número</label>
            <br>
            <span>
              {{siembra.numero}}
            </span>
          </div>

                    
        </div>

        <div class="row"></div>
        <br>

        <div class="box-header with-border">
          <h5 class="box-title">Detalle</h5>
        </div>

        <div class="box-body table-responsive">

          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Periodo</th>
                <th>Cliente</th>
                <th>Variedad</th>
                <th>Identificador</th>
                <th>Bandeja</th>
                <th>Cap. Bandeja</th>
                <th>Band. Ord.</th>
                <th>Band. Sem.</th>
                <th>Semillas</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let det of detalleList">
                <td>{{det.identificador.calendario.periodo }}</td>
                <td>
                  {{det.pedidoDetalle.pedido.clienteEmpresa.cliente.persona.cuit}} - 
                  {{det.pedidoDetalle.pedido.clienteEmpresa.cliente.persona.nombre}}
                  {{det.pedidoDetalle.pedido.clienteEmpresa.cliente.persona.apellido}}
                </td>
                <td>{{det.pedidoDetalle.variedad.especie.descripcion}} - {{det.pedidoDetalle.variedad.descripcion}}</td>
                <td>{{det.identificador.numero }}</td>
                <td>
                  {{det.identificador.bandejaStock.bandeja.tipoBandeja.descripcion }} - 
                  {{det.identificador.bandejaStock.bandeja.descripcion }} - 
                  {{det.identificador.bandejaStock.bandeja.periodo }}
                </td>
                <td>
                  {{det.identificador.bandejaStock.bandeja.capacidad }}
                </td>
                <td>{{det.bandejasOrdenadas }}</td>
                <td>{{det.bandejasSembradas }}</td>
                <td>{{det.cantidadSemillas | number: '1.0' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
      <div class="col-md-2">
          <button type="button" class="btn btn-danger" [routerLink]="['/produccion/siembras']">
            <i class="fa fa-backward"></i> Volver
          </button>
      </div>
      <div class="col-md-2">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#siembraModal" [routerLink]="['/produccion/siembra/editar', siembra.id]">
            <i class="fa fa-pencil"></i> Editar
          </button>

      </div>
    </div>

</form>
