<!-- Modal -->
<form #formSiembra="ngForm" (ngSubmit)="save()" (keydown)="onKeydown($event)">

  <div class="modal fade" id="siembraModal" tabindex="-1" role="dialog" aria-labelledby="siembraModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-content-bigXL">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">×</span>
          </button>
          <h2 class="modal-title text-primary text-center"> {{ titulo }}
            <i class="fa fa-plus"></i>
          </h2>
        </div>
        <div class="modal-body">

          <div class="row form-group">
            <div class="col-md-3">
              <label>Fecha
              </label>
              <input class="form-control" #fecha="ngModel" name="fecha" [(ngModel)]="siembra.fecha" type="date" required>
              <span class="help-block text-red" *ngIf="!fecha.valid && fecha.touched">La fecha es obligatoria
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>
            <div class="col-md-2">
              <label>Número
              </label>
              <input class="form-control" #numero="ngModel" name="numero" [(ngModel)]="siembra.numero" type="text" required>
              <span class="help-block text-red" *ngIf="!numero.valid && numero.touched">El número es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>


          </div>




          <div class="row form-group col-md-12">
            <h5>Seleccionar Pedidos a Incluir en la Siembra</h5>
            <div class="col-md-6">
              <label>Buscar</label>
              <input type="search" class="form-control" [formControl]="myControlPed" #txtBuscar>
            </div>
            <div class="col-md-6">
              <label>Semana Siembra</label>
              <input type="week" class="form-control">
            </div>
            <div class="box-body table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Cliente</th>
                    <th>Empresa</th>
                    <th>Variedad</th>
                    <th>Bandeja</th>
                    <th>Cant. Plan.</th>
                    <th>Cant. Band.</th>
                    <th>Semana Siem.</th>
                    <th>Todos
                      <!-- <input type="checkbox" (change)="seleccionarTodos($event)"> -->
                      <input type="checkbox" (change)="seleccionarTodos()" name="checkTodos" [(ngModel)]="checkTodos">
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr *ngFor="let det of (pedidoDetallesFiltered | async)"> -->
<tr *ngFor="let det of pedidoDetallesSiembra | filterPedidoDetalle : txtBuscar.value">
                    <td>{{det.pedido.clienteEmpresa.cliente.persona.cuit }} - {{det.pedido.clienteEmpresa.cliente.persona.nombre
                      }} {{det.pedido.clienteEmpresa.cliente.persona.apellido }}</td>
                    <td>{{det.pedido.clienteEmpresa.empresa.cuit }} - {{det.pedido.clienteEmpresa.empresa.razonSocial }}</td>
                    <td>{{det.variedad.descripcion}}</td>
                    <td>{{det.bandejaStock.bandeja.capacidad }}</td>
                    <td>{{det.cantidadPlantas }}</td>
                    <td>{{det.cantidadBandeja }}</td>
                    <td>{{det.semanaSiembra }}</td>
                    <td>
                      <!-- <input type="checkbox" #check="ngModel" name="check" [(ngModel)]="det.check" (change)="seleccionarDetalle($event, det)"> -->
                      <input type="checkbox" #check="ngModel" name="check" [(ngModel)]="det.check" (change)="checkDetalle(det.check)">
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="6">
                      <label class="pull-right">Cantidad Seleccionados:</label>
                    </td>
                    <td colspan="2">
                      <label class="pull-right">{{ cantSeleccionados }}</label>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="8">
                      <button type="button" class=" btn btn-success btn-sm pull-right" (click)="seleccionarDetalle()">
                        <i class="fa fa-plus-circle"></i> Agregar</button>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>

          



          <!-- ////////////////////// Detalle ////////////////////////-->

          <div class="row form-group">
            <div class="col-md-12">
              <h4>Detalle de Siembra</h4>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">

              <div class="box-body table-responsive">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Cliente</th>
                      <th>Empresa</th>
                      <th>Variedad</th>
                      <th>Tipo Bandeja</th>
                      <th>Bandeja</th>
                      <th>Band. Ord.</th>
                      <th>Batch</th>
                      <th>Cant. Sem.</th>
                      <th>Semana Siem.</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr *ngFor="let det of (pedidoDetallesFiltered | async)"> -->
                    <tr *ngFor="let det of detalleList; let i = index">
                      <td>{{det.pedidoDetalle.pedido.clienteEmpresa.cliente.persona.cuit }} - {{det.pedidoDetalle.pedido.clienteEmpresa.cliente.persona.nombre
                        }} {{det.pedidoDetalle.pedido.clienteEmpresa.cliente.persona.apellido }}</td>
                      <td>{{det.pedidoDetalle.pedido.clienteEmpresa.empresa.cuit }} - {{det.pedidoDetalle.pedido.clienteEmpresa.empresa.razonSocial }}</td>
                      <td>{{det.pedidoDetalle.variedad.descripcion}}</td>
                      <td>{{det.pedidoDetalle.bandejaStock.bandeja.capacidad }}</td>
                      <td>
                        <select [(ngModel)]="det.identificador.bandejaStock" class="form-control" style="width:130px;" #bandejaStock="ngModel" name="bandejaStock{{i}}" required [compareWith]="compareBandejaStock">
                          <option *ngFor="let bandejaStock of bandejaStocks" [ngValue]="bandejaStock">{{bandejaStock.bandeja.descripcion}}</option>
                        </select>
                      </td>
                      <td><input type="number" calss="form-control" style="width:60px;" (change)="calcCantSem(det)" name="cantBand{{i}}" [(ngModel)]="det.bandejasOrdenadas"></td>
                      <td>
                        <mat-form-field>
                          <input class="form-control" type="text" aria-label="Number" matInput [formControl]="myControlStockSem" [matAutocomplete]="autoStockSem"
                            [(ngModel)]="det.identificador.stockSemilla" name="autoStockSem{{i}}" (onkeypress)="asignaVariedad(det)">
                          <mat-autocomplete #autoStockSem="matAutocomplete" [displayWith]="getDisplayFnStockSem()">
                            <mat-option *ngFor="let stockSemilla of filteredStockSemillas | async" [value]="stockSemilla" (onSelect)="selectedStockSem(stockSemilla)">
                              {{ stockSemilla.batch.numero }}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </td>
                      <td>{{det.cantidadSemillas }}</td>
                      <td>{{det.pedidoDetalle.semanaSiembra }}</td>
                      <td>
                        <button type="button" class=" btn btn-danger btn-sm pull-right" (click)="removeDetalle(i, det)">
                          <i class="fa fa-minus-circle"></i></button>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="6">
                        <label class="pull-right">Cantidad de Plantas:</label>
                      </td>
                      <td colspan="2">
                        <label class="pull-right">{{ cantPlantas }}</label>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>

            </div>

          </div>

          <!-- ////////////////////// Fin Detalle ////////////////////////-->



        </div>
        <!--Fin modal body-->

        <div class="modal-footer">
          <div class="col-md-3">
            <button type="button" class=" btn btn-warning btn-lg pull-left" data-dismiss="modal" (click)="close()">
              <i class="fa fa-reply"></i> Regresar</button>
          </div>
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!formSiembra.form.valid || isSaving">
              <i class="fa fa-refresh "></i> Guardar</button>

          </div>
        </div>
      </div>
    </div>
  </div>

</form>
