<form #identificadorDetalle="ngForm" *ngIf="identificador">
  <ol class="breadcrumb animated fadeIn">
    <li>
      <a href="">
        <i class="fa fa- fa-leaf"></i> Vivero San Nicolas</a>
    </li>
    <li>
      <a [routerLink]="['/produccion']">Producción</a>
    </li>
    <li>
      <a [routerLink]="['/produccion/identificadores']">Identificadores</a>
    </li>
    <li>Detalle</li>
  </ol>
  <div class="row animated fadeIn">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Identificador: {{identificador.id}}</h3>
        </div>
        <!-- /.box-header -->

        <div class="col-md-12">

          <div class="col-md-2">
            <label>Número</label>
            <br>
            <span>
              {{identificador.numero}}
            </span>
          </div>

          <div class="col-md-2">
            <label>Periodo</label>
            <br>
            <span>
              {{identificador.calendario.periodo}}
            </span>
          </div>

          <div class="col-md-2">
            <label>Siembra</label>
            <br>
            <span>
              {{identificador.siembra.numero}}
            </span>
          </div>

          <div class="col-md-2">
            <label>Fecha de Siembra</label>
            <br>
            <span>
              {{identificador.siembra.fecha | date: 'dd/MM/yyyy'}}
            </span>
          </div>

          <div class="row"></div>
          <br>

          <div class="col-md-2">
            <label>Especie</label>
            <br>
            <span>
              {{identificador.stockSemilla.batch.lote.variedad.especie.descripcion}}
            </span>
          </div>
          <div class="col-md-2">
            <label>Variedad</label>
            <br>
            <span>
              {{identificador.stockSemilla.batch.lote.variedad.descripcion}}
            </span>
          </div>

          <div class="col-md-2">
            <label>Lote</label>
            <br>
            <span>
              {{identificador.stockSemilla.batch.lote.numero}}
            </span>
          </div>
          <div class="col-md-2">
            <label>Batch</label>
            <br>
            <span>
              {{identificador.stockSemilla.batch.numero}}
            </span>
          </div>

          <div class="col-md-2">
            <label>Tipo de Bandeja</label>
            <br>
            <span>
              {{identificador.bandejaStock.bandeja.tipoBandeja.descripcion}}
            </span>
          </div>
          <div class="col-md-2">
            <label>Bandeja</label>
            <br>
            <span>
              {{identificador.bandejaStock.bandeja.capacidad}}
            </span>
          </div>


        </div>

        <div class="row"></div>
        <br>
        <!-- TABLA DE DETALLE SIEMBRA -->
        <div class="box-header with-border">
          <h5 class="box-title">Detalle</h5>
        </div>

        <div class="box-body table-responsive">

          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Periodo</th>
                <th>Cliente</th>
                <th>Empresa</th>
                <th>Band. Ord.</th>
                <th>Band. Sem.</th>
                <th>Semillas</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let det of identificador.siembraDetalleList">
                <td>{{det.identificador.calendario.periodo }}</td>
                <td>
                  {{det.pedidoDetalle.pedido.clienteEmpresa.cliente.persona.cuit}} - 
                  {{det.pedidoDetalle.pedido.clienteEmpresa.cliente.persona.nombre}}
                  {{det.pedidoDetalle.pedido.clienteEmpresa.cliente.persona.apellido}}
                </td>
                <td>
                  {{det.pedidoDetalle.pedido.clienteEmpresa.empresa.cuit}} - 
                  {{det.pedidoDetalle.pedido.clienteEmpresa.empresa.razonSocial}}
                </td>
                <td>{{det.bandejasOrdenadas }}</td>
                <td>{{det.bandejasSembradas }}</td>
                <td>{{det.cantidadSemillas | number: '1.0' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- FIN TABLA DE DETALLE SIEMBRA -->


        <div class="row"></div>
        <br>
        <!-- TABLA DE RECUENTO -->
        <div class="box-header with-border">
          <h5 class="box-title">Recuento</h5>
        </div>

        <div class="box-body table-responsive">

          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>Observaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rec of identificador.recuentoList">
                <td>{{rec.fecha }}</td>
                <td>
                  {{det.cantidad | number: '1.0'}}
                </td>
                <td>
                  {{det.observacion}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- FIN TABLA DE RECUENTO -->


      </div>
    </div>
  </div>

  <div class="footer">
    <div class="col-md-2">
      <button type="button" class="btn btn-danger" [routerLink]="['/produccion/identificadores']">
        <i class="fa fa-backward"></i> Volver
      </button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#identificadorModal" [routerLink]="['/produccion/identificador/editar', identificador.id]">
        <i class="fa fa-pencil"></i> Editar
      </button>

    </div>
  </div>

</form>
