<ol class="breadcrumb animated fadeIn">
  <li>
    <a href="">
      <i class="fa fa- fa-leaf"></i> Vivero San Nicolas</a>
  </li>
  <li>
    <a [routerLink]="['/produccion']">Producción</a>
  </li>
  <li>
    <a [routerLink]="['/produccion/identificadores']">Identificadores</a>
  </li>
</ol>
<div class="row animated fadeIn">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Identificadores</h3>
        <div class="row">

          <div class="col-md-6">
            <div id="example1_filter" class="dataTables_filter">
              <label>Buscar:
                <input class="form-control input-sm" placeholder="" aria-controls="example1" type="search">
              </label>
            </div>
          </div>
        </div>

        <div class="box-tools">
          <div class="input-group">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#identificadorModal" [routerLink]="['/produccion/identificador/agregar']">
              <i class="fa fa-plus"></i> Agregar Identificador
            </button>
            <router-outlet></router-outlet>
          </div>
        </div>

      </div>
      <!-- /.box-header -->

      <div class="box-body table-responsive">

        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Número</th>
              <th>Periodo</th>
              <th>Fecha</th>
              <th>Siembra</th>
              <th>Especie/Variedad</th>
              <th>Lote/Batch</th>
              <th>Bandeja</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let identificador of identificadores | paginate: { itemsPerPage: 8, currentPage: p }">
              <td>{{identificador.numero}}</td>
              <td>{{identificador.calendario.periodo}}</td>
              <td>{{identificador.siembra.fecha | date: 'dd/MM/yyyy'}}</td>
              <td>{{identificador.siembra.numero}}</td>
              <td>
                {{identificador.stockSemilla.batch.lote.variedad.especie.descripcion}} - {{identificador.stockSemilla.batch.lote.variedad.descripcion}}
              </td>
              <td>
                {{identificador.stockSemilla.batch.lote.numero}} - {{identificador.stockSemilla.batch.numero}}
              </td>
              <td>
                {{identificador.bandejaStock.bandeja.tipoBandeja.descripcion}} - {{identificador.bandejaStock.bandeja.capacidad}}
              </td>
              <td style="width: 280px;">
                <button type="button" class="btn btn-info" data-target="#identificadorDetalle" [routerLink]="['/produccion/identificador-detalle', identificador.id]">
                  <i class="fa fa-pencil"></i> Mostrar
                </button>
                <button type="button" class="btn btn-success" data-toggle="modal" *ngIf="identificador.siembraInvernaderoList.length == 0"
                        data-target="#completaSiembraModal" [routerLink]="['/produccion/siembra/agregar']">
                  <i class="fa fa-check"></i> Completar
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" *ngIf="identificador.siembraInvernaderoList.length > 0"
                        data-target="#recuentoModal" [routerLink]="['/produccion/siembra/agregar']">
                  <i class="fa fa-plus"></i> Recuento
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"></div>
    </div>
    <div class="col-sm-8">

      <pagination-controls (pageChange)="p = $event" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Anterior"
        nextLabel="Siguiente" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
      </pagination-controls>



    </div>
  </div>
</div>
