<!-- Modal -->
<form #formCompra="ngForm" (ngSubmit)="save()" (keydown)="onKeydown($event)">

  <div class="modal fade" id="compraModal" tabindex="-1" role="dialog" aria-labelledby="compraModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-content-big">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">×</span>
          </button>
          <h2 class="modal-title text-primary text-center"> {{ titulo }}
            <i class="fa fa-plus"></i>
          </h2>
        </div>
        <div class="modal-body">

          <div class="row form-group">

            <div class="col-md-4">
              <label>Fecha</label>
              <input class="form-control" #fecha="ngModel" name="fecha" [(ngModel)]="compra.fecha" type="date" required>
              <span class="help-block text-red" *ngIf="!fecha.valid && fecha.touched">La Fecha es obligatoria
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

            <!-- <div class="col-md-2">
              <label>Número</label>
              <input class="form-control" #numero="ngModel" name="numero" [(ngModel)]="compra.numero" placeholder="Ingrese el Número" type="text"
                required>
              <span class="help-block text-red" *ngIf="!numero.valid && numero.touched">El Número es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div> -->

            <div class="col-md-6">
              <label>Proveedor</label>
              <mat-form-field>
                <input class="form-control" type="text" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="proveedor"
                  required>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplayFn()">
                  <mat-option *ngFor="let proveedor of filteredProveedores | async" [value]="proveedor" (onSelect)="selected(proveedor)">
                    {{ proveedor.persona.nombre }} {{ proveedor.persona.apellido }} - {{ proveedor.persona.cuit }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <span class="help-block text-red" *ngIf="!auto.valid && auto.touched">El Proveedor es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

          </div>


          <div class="row form-group">
            <div class="col-md-12">
              <h4>Detalle</h4>
            </div>
              <div class="col-md-6">
                <label>Variedad</label>
                <mat-form-field>
                  <input class="form-control" type="text" aria-label="Number" matInput [formControl]="myControlVar" [matAutocomplete]="autoVar"
                    [(ngModel)]="variedad">
                  <mat-autocomplete #autoVar="matAutocomplete" [displayWith]="getDisplayFnVar()">
                    <mat-option *ngFor="let variedad of filteredVariedades | async" [value]="variedad" (onSelect)="selectedVar(variedad)">
                      {{ variedad.especie.descripcion }} - {{ variedad.descripcion }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <span class="help-block text-red" *ngIf="!autoVar.valid && autoVar.touched">La Variedad es obligatoria
                  <i class="fa fa-exclamation-circle "></i>
                </span>
              </div>


              <div class="col-md-2">
                <label>Nº Lote</label>
                <input class="form-control" #numeroLote="ngModel" name="numeroLote" [(ngModel)]="lote.numero" type="text">
              </div>

              <div class="col-md-4">
                <label>Descripción Lote</label>
                <input class="form-control" #descripcionLote="ngModel" name="descripcionLote" [(ngModel)]="lote.descripcion" type="text">
              </div>

              <div class="col-md-12">
                <h5>Batch</h5>
              </div>

              <div class="col-md-2">
                <label>Número</label>
                <input class="form-control" #numeroBatch="ngModel" name="numeroBatch" [(ngModel)]="batch.numero" type="text" (change)="validaBatch()">
              </div>

              <div class="col-md-4">
                <label>Descripción</label>
                <input class="form-control" #descripcionBatch="ngModel" name="descripcionBatch" [(ngModel)]="batch.descripcion" type="text">
              </div>

              <div class="col-md-3">
                <label>Cant. Envases</label>
                <input class="form-control" #cantEnvases="ngModel" name="cantEnvases" [(ngModel)]="detalle.cantEnvases" 
                  (change)="calcCantidades()" type="number">
              </div>

              <div class="col-md-3">
                <label>Cap. Envases</label>
                <input class="form-control" #capacidadEnvasesBatch="ngModel" name="capacidadEnvasesBatch" 
                  [(ngModel)]="batch.capacidadEnvases" (change)="calcCantidades()" type="number">
              </div>

              <br>

              <div class="col-md-4">
                <label>Fecha de Prueba</label>
                <input class="form-control" #fechaPruebaBatch="ngModel" name="fechaPruebaBatch" [(ngModel)]="batch.fechaPrueba" type="date">
              </div>

              <div class="col-md-2">
                <label>Pod. Germ.</label>
                <input class="form-control" #podGerminacionBatch="ngModel" name="podGerminacionBatch" [(ngModel)]="batch.podGerminacion"
                  type="number">
              </div>

              <div class="col-md-2">
                <label>Pureza</label>
                <input class="form-control" #purezaBatch="ngModel" name="purezaBatch" [(ngModel)]="batch.pureza" type="number">
              </div>

              <div class="col-md-4">
                <label>Tratamiento</label>
                <input class="form-control" #tratamientoBatch="ngModel" name="tratamientoBatch" [(ngModel)]="batch.tratamiento" type="text">
              </div>

          </div> <!-- FIN form-group-->

          <div class="row form-group">
            <div class="col-md-12">
              <div class="col-md-2">
                <label>Cantidad</label>
                <input class="form-control" #cantidad="ngModel" name="cantidad" [(ngModel)]="detalle.cantidad" type="number" disabled>
              </div>

              <div class="col-md-3">
                <label>Precio</label>
                <input class="form-control" #precioUnitario="ngModel" name="precioUnitario" [(ngModel)]="detalle.precioUnitario" type="number"
                  (change)="calcMontos()">
              </div>

              <div class="col-md-2">
                <label>% Bonif.</label>
                <input class="form-control" #porcBonif="ngModel" name="porcBonif" [(ngModel)]="detalle.porcBonif" type="number" (change)="calcMontos()">
              </div>

              <div class="col-md-2">
                <label>Bonificación</label>
                <input class="form-control" #montoBonif="ngModel" name="montoBonif" [(ngModel)]="detalle.montoBonif" type="number" disabled>
              </div>

              <div class="col-md-3">
                <label>Sub Total</label>
                <input class="form-control" #subTotal="ngModel" name="subTotal" [(ngModel)]="detalle.subTotal" type="number" disabled>
              </div>

            </div>

          </div>


          <div class="row form-group">
            <div class="col-md-12">
              <div class="col-md-2">
                <label>% IVA</label>
                <input class="form-control" #porcIva="ngModel" name="porcIva" [(ngModel)]="detalle.porcIva" type="number" (change)="calcMontos()">
              </div>

              <div class="col-md-2">
                <label>IVA</label>
                <input class="form-control" #montoIva="ngModel" name="montoIva" [(ngModel)]="detalle.montoIva" type="number" disabled>
              </div>

              <div class="col-md-3">
                <label>Sub Total IVA</label>
                <input class="form-control" #subTotalIva="ngModel" name="subTotalIva" [(ngModel)]="detalle.subTotalIva" type="number" disabled>
              </div>

              <div class="col-md-5">
                <br>
                <button type="button" class=" btn btn-success btn-sm center" (click)="addDetalle()">
                  <i class="fa fa-angle-double-down"></i> Agregar Detalle</button>
              </div>

            </div>


          </div>



          <div class="row form-group">
            <div class="col-md-12">

              <div class="box-body table-responsive">

                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Variedad</th>
                      <th>Lote</th>
                      <th>Batch</th>
                      <th>Cantidad</th>
                      <th>Precio</th>
                      <th>Bonif.</th>
                      <th>SubTotal</th>
                      <th>IVA</th>
                      <th>SubTotal IVA</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let det of detalleList">
                      <td>{{det.batch.lote.variedad.descripcion}}</td>
                      <td>{{det.batch.lote.numero}}</td>
                      <td>{{det.batch.numero}}</td>
                      <td>{{det.cantidad }}</td>
                      <td>{{det.precioUnitario | currency }}</td>
                      <td>{{det.montoBonif | currency }}</td>
                      <td>{{det.subTotal | currency }}</td>
                      <td>{{det.montoIva | currency }}</td>
                      <td>{{det.subTotalIva | currency}}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="7">
                        <label class="pull-right">Total I.V.A.:</label>
                      </td>
                      <td colspan="2">
                        <label class="pull-right">{{compra.montoIva | currency:'$':true}}</label>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="7">
                        <label class="pull-right">Total:</label>
                      </td>
                      <td colspan="2">
                        <label class="pull-right">{{compra.monto | currency:'$':true }}</label>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>

            </div>

          </div>




        </div>
        <div class="modal-footer">
          <div class="col-md-3">
            <button type="button" class=" btn btn-warning btn-lg pull-left" data-dismiss="modal" (click)="close()">
              <i class="fa fa-reply"></i> Regresar</button>
          </div>
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!formCompra.form.valid || isSaving">
              <i class="fa fa-refresh "></i> Guardar</button>

          </div>
        </div>
      </div>
    </div>
  </div>

</form>
