<!-- Modal -->
<form #formFinca="ngForm" (ngSubmit)="save()" (keydown)="onKeydown($event)">

  <div class="modal fade" id="fincaModal" tabindex="-1" role="dialog" aria-labelledby="fincaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">×</span>
          </button>
          <h2 class="modal-title text-primary text-center"> {{ titulo }}
            <i class="fa fa-plus"></i>
          </h2>
        </div>
        <div class="modal-body">

          <div class="row form-group">
            <div class="col-md-12">
              <h4>Cliente</h4>
                <mat-form-field>
                  <input class="form-control" type="text"  aria-label="Number" matInput [formControl]="myControlCli"
                    [matAutocomplete]="autoCli" [(ngModel)]="cliente" required>
                  <mat-autocomplete #autoCli="matAutocomplete" [displayWith]="getDisplayFnCli()">
                    <mat-option *ngFor="let cliente of filteredClientes | async" [value]="cliente" (onSelect)="selectedCli(cliente)">
                      {{ cliente.persona.cuit }} - {{ cliente.persona.nombre }}  {{ cliente.persona.apellido }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <!-- <span class="help-block text-red" *ngIf="!autoCli.valid && autoCli.touched">El Cliente es obligatorio
                  <i class="fa fa-exclamation-circle "></i>
                </span> -->
            </div>
              
          </div>

          <div class="row form-group">
            <div class="col-md-6">
              <label>Descripción</label>
              <input class="form-control" #descripcion="ngModel" name="descripcion" [(ngModel)]="finca.descripcion" type="text" required>
              <span class="help-block text-red" *ngIf="!descripcion.valid && descripcion.touched">La Descripción es obligatoria
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

            <div class="col-md-6">
              <label>Teléfono</label>
              <input class="form-control" #telefono="ngModel" name="telefono" [(ngModel)]="finca.telefono" type="text" required>
              <span class="help-block text-red" *ngIf="!telefono.valid && telefono.touched">El Teléfono es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

          </div>


          <!-- domicilio -->
          <div class="row form-group">
            <h4>Domicilio</h4>
            <div class="col-md-2">
              <label>Tipo</label>
              <select [(ngModel)]="domicilio.tipoDomicilio" class="form-control" #tipoDomicilio="ngModel" name="tipoDomicilio" required
                [compareWith]="compareTipoDomicilio">
                <option *ngFor="let tipoDomicilio of tipoDomicilios" [ngValue]="tipoDomicilio">{{tipoDomicilio.descripcion}}</option>
              </select>
              <span class="help-block text-red" *ngIf="!tipoDomicilio.valid && tipoDomicilio.touched">El Tipo de Domicilio es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>
            <div class="col-md-4">
              <label>Calle
              </label>
              <input class="form-control" #calle="ngModel" name="calle" [(ngModel)]="domicilio.calle" type="text" required>
              <span class="help-block text-red" *ngIf="!calle.valid && calle.touched">La Calle es obligatoria
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>
            <div class="col-md-2">
              <label>Número
              </label>
              <input class="form-control" #numero="ngModel" name="numero" [(ngModel)]="domicilio.numero" type="text" required>
              <span class="help-block text-red" *ngIf="!numero.valid && numero.touched">La numeración es obligatoria
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>

            <div class="col-md-2">
              <label>Piso
              </label>
              <input class="form-control" #piso="ngModel" name="piso" [(ngModel)]="domicilio.piso" type="text">
            </div>

            <div class="col-md-2">
              <label>Depto.
              </label>
              <input class="form-control" #departamento="ngModel" name="departamento" [(ngModel)]="domicilio.departamento" type="text">
            </div>

          </div>

          <div class="row form-group">

            <div class="col-md-6">
              <label>Referencia
              </label>
              <input class="form-control" #referencia="ngModel" name="referencia" [(ngModel)]="domicilio.referencia" type="text">
            </div>

            <div class="col-md-6">
              <label>Distrito</label>
              <br/>
              <mat-form-field>
                <input class="form-control" type="text"  aria-label="Number" matInput [formControl]="myControl"
                  [matAutocomplete]="auto" [(ngModel)]="domicilio.distrito" required>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplayFn()">
                  <mat-option *ngFor="let distrito of filteredDistritos | async" [value]="distrito" (onSelect)="selected(distrito)">
                    {{ distrito.descripcion }} - {{ distrito.localidad.descripcion }} - {{ distrito.localidad.provincia.descripcion }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

         
            </div>

          </div>
          <!--Fin domicilio-->


        </div>
        <div class="modal-footer">
          <div class="col-md-3">
            <button type="button" class=" btn btn-warning btn-lg pull-left" data-dismiss="modal" (click)="close()">
              <i class="fa fa-reply"></i> Regresar</button>
          </div>
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!formFinca.form.valid || isSaving">
              <i class="fa fa-refresh "></i> Guardar</button>

          </div>
        </div>
      </div>
    </div>
  </div>

</form>
