<!-- Modal -->
<form #formStockSemilla="ngForm" (ngSubmit)="save()" (keydown)="onKeydown($event)">

  <div class="modal fade" id="stockSemillaModal" tabindex="-1" role="dialog" aria-labelledby="stockSemillaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-content-big">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">×</span>
          </button>
          <h2 class="modal-title text-primary text-center"> {{ titulo }}
            <i class="fa fa-plus"></i>
          </h2>
        </div>
        <div class="modal-body">

          <div class="row form-group">
              <div class="col-md-12">
                <label>Batch</label>
                <mat-form-field>
                  <input class="form-control" type="text" aria-label="Number" matInput [formControl]="myControlBatch" [matAutocomplete]="autoBatch"
                    [(ngModel)]="batch">
                  <mat-autocomplete #autoBatch="matAutocomplete" [displayWith]="getDisplayFnBatch()">
                    <mat-option *ngFor="let batch of filteredBatchs | async" [value]="batch" (onSelect)="selectedBatch(batch)">
                      {{ batch.lote.variedad.especie.descripcion }} - {{ batch.lote.variedad.descripcion }} - {{ batch.lote.numero }} - {{ batch.numero }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <span class="help-block text-red" *ngIf="!autoBatch.valid && autoBatch.touched">El Batch es obligatorio
                  <i class="fa fa-exclamation-circle "></i>
                </span>
              </div>

              <div class="row"></div>

              <div class="col-md-4">
                <label>Tipo de Movimiento
                </label>
                <select [(ngModel)]="tipoMovStockSem" class="form-control" #tipoMov="ngModel" name="tipoMov" required [compareWith]="compareTipoMov">
                  <option *ngFor="let tipoMov of tiposMovsStocksSem" [ngValue]="tipoMov">{{tipoMov.descripcion}}</option>
                </select>
                <span class="help-block text-red" *ngIf="!tipoMov.valid && tipoMov.touched">El Tipo de Movimiento es obligatorio
                  <i class="fa fa-exclamation-circle "></i>
                </span>
              </div>

              <div class="col-md-3">
                <label>Cant de Sem x Peso</label>
                <input class="form-control" name="cantPeso" [(ngModel)]="cantPeso" type="number" (change)="calcularCantidad()">
              </div>

              <div class="col-md-2">
                <label>Peso</label>
                <input class="form-control" name="peso" [(ngModel)]="peso" type="number" (change)="calcularCantidad()">
              </div>

              <div class="col-md-3">
                <label>Cantidad de Semillas</label>
                <input class="form-control" #cantidad name="cantidad" [(ngModel)]="stockSemillaMov.cantidad" type="number" required>
                <span class="help-block text-red" *ngIf="!cantidad.valid && cantidad.touched">La Cantidad es obligatoria
                  <i class="fa fa-exclamation-circle "></i>
                </span>
              </div>

              
          </div> <!-- FIN form-group-->


          


        </div>
        <div class="modal-footer">
          <div class="col-md-3">
            <button type="button" class=" btn btn-warning btn-lg pull-left" data-dismiss="modal" (click)="close()">
              <i class="fa fa-reply"></i> Regresar</button>
          </div>
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!formStockSemilla.form.valid || isSaving">
              <i class="fa fa-refresh "></i> Guardar</button>

          </div>
        </div>
      </div>
    </div>
  </div>

</form>
