<!-- Modal -->
<form #formStockInicial="ngForm" (ngSubmit)="save()" (keydown)="onKeydown($event)">

  <div class="modal fade" id="stockInicialModal" tabindex="-1" role="dialog" aria-labelledby="stockInicialModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-content-big">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">×</span>
          </button>
          <h2 class="modal-title text-primary text-center"> {{ titulo }}
            <i class="fa fa-plus"></i>
          </h2>
        </div>
        <div class="modal-body">


            <div class="row form-group">
                <div class="col-md-12">
                  <h4>Detalle</h4>
                </div>
                  <div class="col-md-6">
                    <label>Variedad</label>
                    <mat-form-field>
                      <input class="form-control" type="text" aria-label="Number" matInput [formControl]="myControlVar" [matAutocomplete]="autoVar"
                        [(ngModel)]="variedad">
                      <mat-autocomplete #autoVar="matAutocomplete" [displayWith]="getDisplayFnVar()">
                        <mat-option *ngFor="let variedad of filteredVariedades | async" [value]="variedad" (onSelect)="selectedVar(variedad)">
                          {{ variedad.especie.descripcion }} - {{ variedad.descripcion }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
    
                    <span class="help-block text-red" *ngIf="!autoVar.valid && autoVar.touched">La Variedad es obligatoria
                      <i class="fa fa-exclamation-circle "></i>
                    </span>
                  </div>
    
    
                  <div class="col-md-2">
                    <label>Nº Lote</label>
                    <input class="form-control" #numeroLote="ngModel" name="numeroLote" [(ngModel)]="lote.numero" type="text" required>
                    <span class="help-block text-red" *ngIf="!numeroLote.valid && numeroLote.touched">El Lote es obligatorio
                      <i class="fa fa-exclamation-circle "></i>
                    </span>
                  </div>
    
                  <div class="col-md-4">
                    <label>Descripción Lote</label>
                    <input class="form-control" #descripcionLote="ngModel" name="descripcionLote" [(ngModel)]="lote.descripcion" type="text">
                  </div>
    
                  <div class="col-md-12">
                    <h5>Batch</h5>
                  </div>
    
                  <div class="col-md-2">
                    <label>Número</label>
                    <input class="form-control" #numeroBatch="ngModel" name="numeroBatch" [(ngModel)]="batch.numero" type="text" (change)="validaBatch()"
                      required>
                    <span class="help-block text-red" *ngIf="!numeroBatch.valid && numeroBatch.touched">El Batch es obligatorio
                      <i class="fa fa-exclamation-circle "></i>
                    </span>
                  </div>
    
                  <div class="col-md-4">
                    <label>Descripción</label>
                    <input class="form-control" #descripcionBatch="ngModel" name="descripcionBatch" [(ngModel)]="batch.descripcion" type="text">
                  </div>

                  <div class="col-md-3">
                      <label>Cantidad de Semillas</label>
                      <input class="form-control" #cantidad name="cantidad" [(ngModel)]="stockSemilla.cantidad" type="number" required>
                      <span class="help-block text-red" *ngIf="!cantidad.valid && cantidad.touched">La Cantidad es obligatoria
                        <i class="fa fa-exclamation-circle "></i>
                      </span>
                    </div>
    
                  <br>
                  <div class="row"></div>
                  <br>
    
                  <div class="col-md-4">
                    <label>Fecha de Prueba</label>
                    <input class="form-control" #fechaPruebaBatch="ngModel" name="fechaPruebaBatch" [(ngModel)]="batch.fechaPrueba" type="date">
                  </div>
    
                  <div class="col-md-2">
                    <label>Pod. Germ.</label>
                    <input class="form-control" #podGerminacionBatch="ngModel" name="podGerminacionBatch" [(ngModel)]="batch.podGerminacion"
                      type="number">
                  </div>
    
                  <div class="col-md-2">
                    <label>Pureza</label>
                    <input class="form-control" #purezaBatch="ngModel" name="purezaBatch" [(ngModel)]="batch.pureza" type="number">
                  </div>
    
                  <div class="col-md-4">
                    <label>Tratamiento</label>
                    <input class="form-control" #tratamientoBatch="ngModel" name="tratamientoBatch" [(ngModel)]="batch.tratamiento" type="text">
                  </div>
    
              </div> <!-- FIN form-group-->


        </div>
        <div class="modal-footer">
          <div class="col-md-3">
            <button type="button" class=" btn btn-warning btn-lg pull-left" data-dismiss="modal" (click)="close()">
              <i class="fa fa-reply"></i> Regresar</button>
          </div>
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!formStockInicial.form.valid || isSaving">
              <i class="fa fa-refresh "></i> Guardar</button>

          </div>
        </div>
      </div>
    </div>
  </div>

</form>
