<ol class="breadcrumb animated fadeIn">
  <li>
    <a href="">
      <i class="fa fa- fa-leaf"></i> Vivero San Nicolas</a>
  </li>
  <li>
    <a [routerLink]="['/produccion']">Producción</a>
  </li>
  <li>
    <a [routerLink]="['/produccion/stock-semillas']">Stock de Semillas</a>
  </li>
</ol>
<div class="row animated fadeIn">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Stock de Semillas</h3>
        <div class="row">

          <div class="col-md-6">
            <div id="example1_filter" class="dataTables_filter">
              <label>Buscar:
                <input class="form-control input-sm" placeholder="" aria-controls="example1" type="search">
              </label>
            </div>
          </div>
        </div>

        <div class="box-tools">
          <div class="input-group">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#stockInicialModal" [routerLink]="['/produccion/stock-semilla/inicial']">
              <i class="fa fa-plus"></i> Stock Inicial
            </button>
            <p></p>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#stockSemillaModal" [routerLink]="['/produccion/stock-semilla/agregar']">
              <i class="fa fa-plus"></i> Movimiento de Stock
            </button>
            <router-outlet></router-outlet>
          </div>
        </div>

      </div>
      <!-- /.box-header -->

      <div class="box-body table-responsive">

        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Especie</th>
              <th>Variedad</th>
              <th>Lote</th>
              <th>Batch</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stockSemilla of stockSemillas | paginate: { itemsPerPage: 8, currentPage: p }">
              <td>{{stockSemilla.batch.lote.variedad.especie.descripcion}}</td>
              <td>{{stockSemilla.batch.lote.variedad.descripcion}}</td>
              <td>{{stockSemilla.batch.lote.numero}}</td>
              <td>{{stockSemilla.batch.numero}}</td>
              <td>{{stockSemilla.cantidad}}</td>
              <td style="width: 280px;">
                <button type="button" class="btn btn-info" data-target="#stockSemillaDetalle" [routerLink]="['/produccion/stock-semilla-detalle', stockSemilla.id]">
                  <i class="fa fa-pencil"></i> Mostrar
                </button>
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#stockSemillaModal" [routerLink]="['/produccion/stock-semilla/editar', stockSemilla.id]">
                  <i class="fa fa-pencil"></i> Editar
                </button>
                <button type="button" class="btn btn-danger ">
                  <i class="fa fa-eraser"></i> Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"></div>
    </div>
    <div class="col-sm-8">

      <pagination-controls (pageChange)="p = $event" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Anterior"
        nextLabel="Siguiente" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
      </pagination-controls>

    </div>
  </div>
</div>
