@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.main-sidebar {
    background-color: rgb(255, 255, 255) !important
}

.sidebar-menu {
    background-color: rgb(255, 255, 255) !important
}

.header {
    background-color: rgb(255, 255, 255) !important
}

.treeview {
    background-color: rgb(255, 255, 255) !important
}

.active {
    background-color: rgb(255, 255, 255) !important
}

.skin-green .sidebar-menu>li:hover>a,
.skin-green .sidebar-menu>li.active>a {
    color: rgb(255, 255, 255) !important;
    background: rgb(255, 255, 255) !important;
    border-left-color: #11a51d !important;
}

.skin-green .sidebar-menu>li>.treeview-menu {
    background: rgb(255, 255, 255) !important;
}

.skin-green .user-panel>.info,
.skin-green .user-panel>.info>a {
    color: rgb(19, 10, 10) !important;
}

body {
    color: rgb(19, 10, 10) !important;
}

.skin-green .sidebar a {
    color: #2582ad !important;
}

.skin-green .sidebar-menu>li:hover>a,
.skin-green .sidebar-menu>li.active>a {
    color: #022568ed !important;
}

a:hover,
a:active,
a:focus {
    color: #08237aed !important;
}

.footer {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    margin-left: 1px;
    margin-right: 1px;
    border: 1px solid transparent;
}


/* STYLE GONZA */


/* Generales */

::placeholder {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
    color: #000
}

.wrapper {
    background-color: #fff !important;
}

.box-title {
    margin-bottom: 10px !important;
}

.form-control {
    background-color: #ecf0f5 !important;
}

.form-control:active {
    border: 1px solid #008d4c !important;
}

a:hover {
    color: #fff !important;
}

.cdk-overlay-container {
    z-index: 11012 !important;
}


/* Estilos autocomplete */

.mat-form-field {
    width: 100%;
}

.mat-input-element {
    padding: 6px 12px !important;
}
.mat-form-field-infix {
    
    margin-top: -18px;
}

/* Footer */

#logo-atuq {
    width: 60px;
}

.main-footer {
    margin: 0;
    padding: 10px 10px 0 !important;
}

.skin-green .sidebar-menu>li:hover>a,
.skin-green .sidebar-menu>li.active>a,
.skin-green .sidebar-menu>li.menu-open>a {
    color: #fff;
    background: #ffffff !important;
}

.mat-form-field-underline {
   background-color: rgba(0, 0, 0, 0) !important;
   ;
}

.mat-form-field-underline {
  position: absolute;
  height: 0px !important;
  width: 0 !important;
  
}

/* Modal Nico */

.modal-content-big{
    width: 120%;
}

.modal-content-bigXL{
    width: 170%;
    margin-left: -150px;
}

input[type=search] {
  width: 120px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
  width: 120%;
}

ngx-pagination li {
  position: relative !important;
  float: left !important;
  padding: 6px 12px !important;
  margin-left: -1px !important;
  line-height: 1.42857143 !important;
  color: #337ab7 !important;
  text-decoration: none !important;
  background-color: #fff !important;
  border: 1px solid rgba(221, 221, 221, 0) !important;
}

.ngx-pagination .current {
  z-index: 3 !important;
  color: #fff !important;
  cursor: default !important;
  background-color: #337ab7 !important;
  border-color: #337ab7 !important;
}

.ngx-pagination .disabled {
  color: #777 !important;
  cursor: not-allowed !important;
  background-color: #fff !important;
  border-color: #ddd !important;
  margin-left: 0 !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.ngx-pagination a,
.ngx-pagination button {
  color: #0a0a0a;
  display: block;
  border-radius: 0;
}