<footer class="main-footer">
  <!-- To the right -->
  <div class="footer">
    <!-- <strong>&copy;
      <a href="#">Atuq</a> Software .</strong> -->
    <a href="http://www.atuq.com.ar/" target="_blank">
      <img src="./assets/img/footerblue.png" id="logo-atuq" align="right">
    </a>
  </div>

  <!-- Default to the left -->
  <!--
  <strong>&copy;<a href="#">Atuq</a> Software  .</strong>  -->
</footer>