<!-- Modal -->
<form #formDistrito="ngForm" (ngSubmit)="save()" (keydown)="onKeydown($event)">

  <div class="modal fade" id="distritoModal" tabindex="-1" role="dialog" aria-labelledby="distritoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
            <span aria-hidden="true">×</span>
          </button>
          <h2 class="modal-title text-primary text-center"> {{ titulo }}
            <i class="fa fa-plus"></i>
          </h2>
        </div>
        <div class="modal-body">

          <div class="row form-group">
            <div class="col-md-8">
              <label>Descripción
              </label>
              <input class="form-control" #descripcion="ngModel" name="descripcion" [(ngModel)]="distrito.descripcion" placeholder="Ingrese el Distrito"
                type="text" required>
              <span class="help-block text-red" *ngIf="!descripcion.valid && descripcion.touched">El distrito es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>
            <div class="col-md-4">
              <label>CP
              </label>
              <input class="form-control" #codigoPostal="ngModel" name="codigoPostal" [(ngModel)]="distrito.codigoPostal" placeholder="Ingrese el Código Postal"
                type="text" required>
              <span class="help-block text-red" *ngIf="!codigoPostal.valid && codigoPostal.touched">El Código Postal es obligatorio
                <i class="fa fa-exclamation-circle "></i>
              </span>
            </div>
            
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label>Localidad</label>
              <br/>
              <mat-form-field>
                <input class="form-control" type="text" aria-label="Number" matInput [formControl]="myControl"
                  [matAutocomplete]="auto" [(ngModel)]="distrito.localidad" required >
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplayFn()">
                  <mat-option *ngFor="let localidad of filteredLocalidades | async" [value]="localidad" (onSelect)="selected(localidad)">
                    {{ localidad.descripcion }} - {{ localidad.provincia.descripcion }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              
            </div>

          </div>

        </div>
        <div class="modal-footer">
          <div class="col-md-3">
            <button type="button" class=" btn btn-warning btn-lg pull-left" data-dismiss="modal" (click)="close()">
              <i class="fa fa-reply"></i> Regresar</button>
          </div>
          <div class="col-md-9">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!formDistrito.form.valid || isSaving">
              <i class="fa fa-refresh "></i> Guardar</button>

          </div>
        </div>
      </div>
    </div>
  </div>

</form>
